<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>TMSR | EPICS - <%= title %></title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="stylesheets/system0.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	
	<script src="js/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="bower_components/async/dist/async.js"></script> 
<!-- 
<script>
		var serverIP="210.72.8.90";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"hanlfHost:ai1"},{pvname:"hanlfHost:ai2"},{pvname:"hanlfHost:ai3"}],
         ao:[{pvname:"hanlfHost:ao1"}, {pvname:"hanlfHost:ao2"}, {pvname:"hanlfHost:ao3"}]
        }
		// console.log(pvs.ai);
       async.map(pvs.ai,function(item,callback){
          console.log(item.pvname);
          socket.on(item.pvname, function (data) {
            if(document.getElementById(item.pvname)){
             document.getElementById(item.pvname).innerHTML=data;
            }
               });
               
       }, function(err,results){
         callback(err,results); 
         console.log(results);
       });

</script> -->


</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed ng-scope page-sidebar-closed" ng-app="myApp" ng-controller="myCtrl" onload="load()">

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid" style="margin-top:0;" >

		<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->

		<div class="page-sidebar nav-collapse collapse">

			<ul class="page-sidebar-menu hidden-phone hidden-tablet">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />            

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li  >

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title"><span>概述</span>

					<span class="selected "></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/system_structure">

							 	系统结构                    </a>

						</li>



						
						<li >
												
							<a href="/control_system">
												
								控制系统 </a>

								<!-- <ul class="sub-menu">

									<li >
			
										<a href="portlet_general.html">
			
											信号变量</a>
			
									</li>
								</ul> -->

												
						</li>

						
						<li >
						
							<a href="/epics_manual">
						
								安装配置 </a>
						
						</li>




					</ul>

				</li>

				<li>

					<a href="javascript:;">

					<i class="icon-dashboard"></i> 

					<span class="title">监视控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/widget_tank">

								Tank</a>

						</li>

						<li >

							<a href="portlet_draggable.html">

							   Process Bar </a>

						</li>
						
						<li>
							<a href="widget_led.html">
												
						    	LED</a>
												
						</li>
												
						<li>
												
							<a href="portlet_draggable.html">
												
								Text Update </a>
												
						</li>
						<li>
						
							<a href="portlet_draggable.html">
						
								Meter </a>
						
						</li>
						<li>
												
							<a href="portlet_draggable.html">
												
						 		Guage </a>
												
							</li>

					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">控制控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							TextInput                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							Vector Maps                   </a>

						</li>

					</ul>

				</li>

				<li >

					<a href="charts.html">

					<i class="icon-film"></i> 

					<span class="title">其它</span>

					</a>

				</li>

				<li class="active">

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">系统应用</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							智能监控                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							辐射监测                   </a>

						</li>
						<li class="active">							
							<a href="system0">
							
							综合实验平台               </a>
							
						</li>

					</ul>

				</li>
				<li>
				
					<a href="/comment">
					
						<i class="icon-comment"></i>
					
						<span class="title">留言板</span>
						<span class="badge" style="background-color: #e02222;padding: 2px 6px 2px 6px;-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important; text-shadow: none !important" >new</span>

					</a>
				
				</li>
			</ul>

			<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->

			<ul class="page-sidebar-menu visible-phone visible-tablet">


				<li class="start active">

					<a href="/">

					概述

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

                         <ul class="sub-menu">
						<li >

							<a href="/system_structure">

							<i class="icon-cogs"></i> 

							<span class="title" >系统结构</span>

							<span class="arrow open"></span>

							</a>

						</li>
						<li>

							<a href="/control_system">
		
								<i class="icon-wrench"></i>
		
								<span class="title">控制系统</span>
		
								<span class="arrow open"></span>
		
							</a>
		
						</li>
						<li>
						
							<a href="/epics_manual">

								<i class="icon-wrench"></i> 
						
								<span class="title" >安装配置</span>

								<span class="arrow open"></span>
							
							</a>
						
						</li>
					</ul>
                    </li>
			</ul>

		</div>

		<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
		
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<div id="portlet-config" class="modal hide">
		
				<div class="modal-header">
		
					<button data-dismiss="modal" class="close" type="button"></button>
		
					<h3>portlet Settings</h3>
		
				</div>
		
				<div class="modal-body">
		
					<p>Here will be a configuration form</p>
		
				</div>
		
			</div>
		
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE CONTAINER-->
		
			<div class="">
		
				<!-- BEGIN PAGE HEADER-->
		
				<div class="row-fluid">
		
					<div class="span12" style="margin:0px">
				<div class="row-fluid tankContainer" ng-controller="holeCtrl">
					<div style="overflow:hidden; margin-left:0px; margin-righnt:0px; border-color:purple;height:830px; width:{{innerWid}}px; display:inline">
						<svg width="{{innerWidth/6}}px" height="{{innerHeight-42}}px" viewBox="0 0 {{innerWidth}} {{innerHeight-42}}" xmlns="http://www.w3.org/2000/svg" style="background-color:aliceblue; overflow-x:hidden; overflow-y:hidden; border: 1px solid #b4cef8;">
							<title>综合实验平台的模拟堆体</title>
							<desc>此svg的描述:综合实验平台的模拟堆体</desc>
							<!-- 在这里开始绘制图形 -->
							<svg x="{{0}}mm" y="{{-4}}mm" width="200mm" height="200mm" viewBox="0 0 200mm 200mm" transform="scale(0.8,0.8)" preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<g id="heatHole">
									<desc>加热棒束开孔</desc>
									<svg>
										<title>加热棒束开孔1</title>
										<circle cx="50mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔2</title>
										<circle cx="60mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
										<!-- 旋转中心点的坐标单位怎么设置?? -->
										<!--circle cx="80mm" cy="102mm" r="4mm" transform="rotate(0,50 50)" style="stroke:black;stroke-width:3px;fill:none;" /-->
									</svg>
									<svg>
										<title>加热棒束开孔7</title>
										<circle cx="55mm" cy="58.66mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔6</title>
										<circle cx="45mm" cy="58.66mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔5</title>
										<circle cx="40mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔4</title>
										<circle cx="45mm" cy="41.34mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔3</title>
										<circle cx="55mm" cy="41.34mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>

									<svg>
										<title>加热棒束开孔9</title>
										<circle cx="64.14mm" cy="35.86mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔18</title>
										<circle cx="64.14mm" cy="64.14mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔15</title>
										<circle cx="35.86mm" cy="64.14mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔12</title>
										<circle cx="35.86mm" cy="35.86mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔8</title>
										<circle cx="69.32mm" cy="44.82mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔19</title>
										<circle cx="69.32mm" cy="55.18mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔14</title>
										<circle cx="30.68mm" cy="55.18mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔13</title>
										<circle cx="30.68mm" cy="44.82mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔16</title>
										<circle cx="44.82mm" cy="69.32mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔17</title>
										<circle cx="55.18mm" cy="69.32mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔10</title>
										<circle cx="55.18mm" cy="30.68mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>0
										<title>加热棒束开孔11</title>
										<circle cx="44.82mm" cy="30.68mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
								</g>
								<g>
									<desc>其他孔</desc>
									<svg>
										<title>模拟控制棒孔道</title>
										<circle cx="17.66mm" cy="63.39mm" r="4mm" style="stroke:black;stroke-width:1px;fill:white;" /><!-- 模拟控制棒孔道 -->
										<line x1="10.66mm" y1="63.39mm" x2="24.66mm" y2="63.39mm" style="stroke:gray;" />
										<line x1="17.66mm" y1="56.39mm" x2="17.66mm" y2="70.39mm" style="stroke:gray;" />
									</svg>
									<svg>
										<title>液位测量孔1</title>
										<circle cx="35.19mm" cy="14.25mm" r="3mm" style="stroke:#333;stroke-width:3px;fill:white;" /><!-- 液位测量孔1 -->
									</svg>
									<svg>
										<title>液位测量孔2</title>
										<circle cx="50mm" cy="88.7mm" r="3mm" style="stroke:#333;stroke-width:3px;fill:white;" /><!-- 液位测量孔2 -->
									</svg>
									<svg>
										<title>覆盖气体孔1</title>
										<circle cx="88.7mm" cy="50mm" r="2.5mm" style="stroke:#333;stroke-width:1px;fill:#444;" /><!-- 覆盖气体孔1 -->
									</svg>
									<svg>
										<title>覆盖气体孔2</title>
										<circle cx="12.08mm" cy="42.28mm" r="2.5mm" style="stroke:#333;stroke-width:1px;fill:#444;" /><!-- 覆盖气体孔2 -->
									</svg>

									<svg>
										<title>温度测量1</title>
										<circle cx="63.08mm" cy="27.34mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量1 -->
									</svg>
									<svg>
										<title>温度测量2</title>
										<circle cx="70.13mm" cy="15.14mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量2 -->
									</svg>
									<svg>
										<title>温度测量3</title>
										<circle cx="50mm" cy="36mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量3 -->
									</svg>
									<svg>
										<title>温度测量4</title>
										<circle cx="27.35mm" cy="36.92mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量4 -->
									</svg>
									<svg>
										<title>温度测量5</title>
										<circle cx="15.13mm" cy="29.87mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量5 -->
									</svg>
									<svg>
										<title>温度测量6</title>
										<circle cx="36.92mm" cy="72.66mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量6 -->
									</svg>
									<svg>
										<title>温度测量7</title>
										<circle cx="33.42mm" cy="78.72mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量7 -->
									</svg>
									<svg>
										<title>温度测量8</title>
										<circle cx="29.87mm" cy="84.87mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量8 -->
									</svg>
									<svg>
										<title>温度测量9</title>
										<circle cx="50mm" cy="64mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量9 -->
									</svg>
									<svg>
										<title>温度测量10</title>
										<circle cx="72.66mm" cy="63.08mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量10 -->
									</svg>
									<svg>
										<title>温度测量11</title>
										<circle cx="78.72mm" cy="66.58mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量11 -->
									</svg>
									<svg>
										<title>温度测量12</title>
										<circle cx="84.87mm" cy="70.13mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量12 -->
									</svg>

									<svg>
										<title>备用孔道1</title>
										<circle cx="83.52mm" cy="30.65mm" r="3mm" style="stroke:#555;stroke-width:1px;fill:#bbb;" /><!-- 备用孔道1 -->
									</svg>
									<svg>
										<title>备用孔道2</title>0
										<circle cx="69.35mm" cy="83.52mm" r="3mm" style="stroke:#555;stroke-width:1px;fill:#bbb;" /><!-- 备用孔道2 -->
									</svg>
									<svg>
										<title>注盐/排盐孔道</title>
										<circle id="pourDrain" cx="89.70mm" cy="60.64mm" r="2mm" style="stroke:black;stroke-width:3px;fill:white;" /><!-- 注盐/排盐孔道 -->
									</svg>
								</g>


								<!--a><g id="noteText" preserveAspectRatio="xMinYMin meet" viewBox="0 0 100 100" style="stroke:#555;">
									<text x="500" y="50" style="font-size:1.5em; text-anchor:start;">堆芯位置(50mm,50mm)</text>
									<text x="500" y="80" style="font-size:1.5em; text-anchor:start;">虚线圈半径：39,33,20,10 mm</text>
								</g></a-->
								<g>
									<desc>辅助虚线圈</desc>
									<circle cx="50mm" cy="50mm" r="39mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" /><!-- 堆芯位置(50mm,50mm) -->
									<circle cx="50mm" cy="50mm" r="33mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="20mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="14mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="10mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
								</g>
								<!--a><g>
									<desc>辅助标注</desc>
									<path d="m 136 243, -110 -47 m 0 0, -240 0" style="stroke:#333" />
									width="{{innerWidth/6}}" height="{{innerHeight-42-innerWidth/6}}" viewBox="0 {{innerWidth/6}} {{innerWidth/6} {{innerHeight-42-innerWidth/6}}" transform="scale(1,1)" preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg"
									<!-- 加热棒束开孔15 -->
								<!--a></g></a-->
							</svg>
							<defs>
								<linearGradient id="tankGradient" x1="50%" y1="0%" x2="50%" y2="100%">
									<stop offset="0%" style="stop-color:red;" />
									<stop offset="50%" style="stop-color:pink;" />
									<stop offset="100%" style="stop-color:red;" />
								</linearGradient>
							</defs>
							<symbol id="testuse1">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-30}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse2">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-130}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse3">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-157}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse4">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-110}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse5">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-20}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse6">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-130}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse7">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-53}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse8">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-52}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse9">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-34}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse10">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-111}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse11">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-116}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse12">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-70}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse13">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-30}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse14">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-60}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse15">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-40}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse16">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-80}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse17">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-40}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse18">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-100}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>
							<symbol id="testuse19">"
								<rect x="30" y="50" width="{{innerWidth/8}}px" height="20px" style="fill:gray; stroke-width:0; stroke:none" />
								<rect id="tankRect" x="30" y="50" width="{{innerWidth/8-110}}px" height="20px" style="fill:url(#tankGradient); stroke-width:0; stroke:none" />									
							</symbol>

							<text x="50px" y="{{innerWidth/6-10}}px" style="font-size:1.5em; text-anchor:start;">加热棒束开孔功率密度:</text>
							<text x="15px" y="{{innerWidth/6+22}}px" style="font-size:1.2em; text-anchor:start;">孔1:</text>
							<use x="25px" y="-{{innerWidth/6+75}}px" xlink:href="#testuse1" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+49}}px" style="font-size:1.2em; text-anchor:start;">孔2:</text>
							<use x="25px" y="-{{innerWidth/6+102}}px" xlink:href="#testuse2" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+76}}px" style="font-size:1.2em; text-anchor:start;">孔3:</text>
							<use x="25px" y="-{{innerWidth/6+129}}px" xlink:href="#testuse3" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+103}}px" style="font-size:1.2em; text-anchor:start;">孔4:</text>
							<use x="25px" y="-{{innerWidth/6+156}}px" xlink:href="#testuse4" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+132}}px" style="font-size:1.2em; text-anchor:start;">孔5:</text>
							<use x="25px" y="-{{innerWidth/6+183}}px" xlink:href="#testuse5" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+159}}px" style="font-size:1.2em; text-anchor:start;">孔6:</text>
							<use x="25px" y="-{{innerWidth/6+210}}px" xlink:href="#testuse6" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+186}}px" style="font-size:1.2em; text-anchor:start;">孔7:</text>
							<use x="25px" y="-{{innerWidth/6+237}}px" xlink:href="#testuse7" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+213}}px" style="font-size:1.2em; text-anchor:start;">孔8:</text>
							<use x="25px" y="-{{innerWidth/6+264}}px" xlink:href="#testuse8" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+240}}px" style="font-size:1.2em; text-anchor:start;">孔9:</text>
							<use x="25px" y="-{{innerWidth/6+291}}px" xlink:href="#testuse9" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+267}}px" style="font-size:1.2em; text-anchor:start;">孔10:</text>
							<use x="25px" y="-{{innerWidth/6+318}}px" xlink:href="#testuse10" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+294}}px" style="font-size:1.2em; text-anchor:start;">孔11:</text>
							<use x="25px" y="-{{innerWidth/6+345}}px" xlink:href="#testuse11" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+321}}px" style="font-size:1.2em; text-anchor:start;">孔12:</text>
							<use x="25px" y="-{{innerWidth/6+372}}px" xlink:href="#testuse12" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+349}}px" style="font-size:1.2em; text-anchor:start;">孔13:</text>
							<use x="25px" y="-{{innerWidth/6+399}}px" xlink:href="#testuse13" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+372}}px" style="font-size:1.2em; text-anchor:start;">孔14:</text>
							<use x="25px" y="-{{innerWidth/6+426}}px" xlink:href="#testuse14" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+403}}px" style="font-size:1.2em; text-anchor:start;">孔15:</text>
							<use x="25px" y="-{{innerWidth/6+453}}px" xlink:href="#testuse15" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+430}}px" style="font-size:1.2em; text-anchor:start;">孔16:</text>
							<use x="25px" y="-{{innerWidth/6+480}}px" xlink:href="#testuse16" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+457}}px" style="font-size:1.2em; text-anchor:start;">孔17:</text>
							<use x="25px" y="-{{innerWidth/6+507}}px" xlink:href="#testuse17" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+484}}px" style="font-size:1.2em; text-anchor:start;">孔18:</text>
							<use x="25px" y="-{{innerWidth/6+534}}px" xlink:href="#testuse18" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+511}}px" style="font-size:1.2em; text-anchor:start;">孔19:</text>
							<use x="25px" y="-{{innerWidth/6+561}}px" xlink:href="#testuse19" transform="scale(1,-1)"></use>
						</svg>


						<svg width="{{innerWidth/6}}px" height="{{innerHeight-42}}px" viewBox="0 0 {{innerWidth}} {{innerHeight-42}}" xmlns="http://www.w3.org/2000/svg" style="background-color:aliceblue; overflow-x:hidden; overflow-y:hidden; border: 1px solid #b4cef8;">
							<title>综合实验平台的模拟堆体</title>
							<desc>此svg的描述:综合实验平台的模拟堆体</desc>
							<!-- 在这里开始绘制图形 -->
							<svg x="{{0}}mm" y="{{-4}}mm" width="200mm" height="200mm" viewBox="0 0 200mm 200mm" transform="scale(0.8,0.8)" preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<g id="heatHole">
									<desc>加热棒束开孔</desc>
									<svg>
										<title>加热棒束开孔1</title>
										<circle cx="50mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔2</title>
										<circle cx="60mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
										<!-- 旋转中心点的坐标单位怎么设置?? -->
										<!--circle cx="80mm" cy="102mm" r="4mm" transform="rotate(0,50 50)" style="stroke:black;stroke-width:3px;fill:none;" /-->
									</svg>
									<svg>
										<title>加热棒束开孔7</title>
										<circle cx="55mm" cy="58.66mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔6</title>
										<circle cx="45mm" cy="58.66mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔5</title>
										<circle cx="40mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔4</title>
										<circle cx="45mm" cy="41.34mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔3</title>
										<circle cx="55mm" cy="41.34mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>

									<svg>
										<title>加热棒束开孔9</title>
										<circle cx="64.14mm" cy="35.86mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔18</title>
										<circle cx="64.14mm" cy="64.14mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔15</title>
										<circle cx="35.86mm" cy="64.14mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔12</title>
										<circle cx="35.86mm" cy="35.86mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔8</title>
										<circle cx="69.32mm" cy="44.82mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔19</title>
										<circle cx="69.32mm" cy="55.18mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔14</title>
										<circle cx="30.68mm" cy="55.18mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔13</title>
										<circle cx="30.68mm" cy="44.82mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔16</title>
										<circle cx="44.82mm" cy="69.32mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔17</title>
										<circle cx="55.18mm" cy="69.32mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>
										<title>加热棒束开孔10</title>
										<circle cx="55.18mm" cy="30.68mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
									<svg>0
										<title>加热棒束开孔11</title>
										<circle cx="44.82mm" cy="30.68mm" r="4mm" style="stroke:black;stroke-width:3px;fill:red;" />
									</svg>
								</g>
								<g>
									<desc>其他孔</desc>
									<svg>
										<title>模拟控制棒孔道</title>
										<circle cx="17.66mm" cy="63.39mm" r="4mm" style="stroke:black;stroke-width:1px;fill:white;" /><!-- 模拟控制棒孔道 -->
										<line x1="10.66mm" y1="63.39mm" x2="24.66mm" y2="63.39mm" style="stroke:gray;" />
										<line x1="17.66mm" y1="56.39mm" x2="17.66mm" y2="70.39mm" style="stroke:gray;" />
									</svg>
									<svg>
										<title>液位测量孔1</title>
										<circle cx="35.19mm" cy="14.25mm" r="3mm" style="stroke:#333;stroke-width:3px;fill:white;" /><!-- 液位测量孔1 -->
									</svg>
									<svg>
										<title>液位测量孔2</title>
										<circle cx="50mm" cy="88.7mm" r="3mm" style="stroke:#333;stroke-width:3px;fill:white;" /><!-- 液位测量孔2 -->
									</svg>
									<svg>
										<title>覆盖气体孔1</title>
										<circle cx="88.7mm" cy="50mm" r="2.5mm" style="stroke:#333;stroke-width:1px;fill:#444;" /><!-- 覆盖气体孔1 -->
									</svg>
									<svg>
										<title>覆盖气体孔2</title>
										<circle cx="12.08mm" cy="42.28mm" r="2.5mm" style="stroke:#333;stroke-width:1px;fill:#444;" /><!-- 覆盖气体孔2 -->
									</svg>

									<svg>
										<title>温度测量1</title>
										<circle cx="63.08mm" cy="27.34mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量1 -->
									</svg>
									<svg>
										<title>温度测量2</title>
										<circle cx="70.13mm" cy="15.14mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量2 -->
									</svg>
									<svg>
										<title>温度测量3</title>
										<circle cx="50mm" cy="36mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量3 -->
									</svg>
									<svg>
										<title>温度测量4</title>
										<circle cx="27.35mm" cy="36.92mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量4 -->
									</svg>
									<svg>
										<title>温度测量5</title>
										<circle cx="15.13mm" cy="29.87mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量5 -->
									</svg>
									<svg>
										<title>温度测量6</title>
										<circle cx="36.92mm" cy="72.66mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量6 -->
									</svg>
									<svg>
										<title>温度测量7</title>
										<circle cx="33.42mm" cy="78.72mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量7 -->
									</svg>
									<svg>
										<title>温度测量8</title>
										<circle cx="29.87mm" cy="84.87mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量8 -->
									</svg>
									<svg>
										<title>温度测量9</title>
										<circle cx="50mm" cy="64mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量9 -->
									</svg>
									<svg>
										<title>温度测量10</title>
										<circle cx="72.66mm" cy="63.08mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量10 -->
									</svg>
									<svg>
										<title>温度测量11</title>
										<circle cx="78.72mm" cy="66.58mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量11 -->
									</svg>
									<svg>
										<title>温度测量12</title>
										<circle cx="84.87mm" cy="70.13mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量12 -->
									</svg>

									<svg>
										<title>备用孔道1</title>
										<circle cx="83.52mm" cy="30.65mm" r="3mm" style="stroke:#555;stroke-width:1px;fill:#bbb;" /><!-- 备用孔道1 -->
									</svg>
									<svg>
										<title>备用孔道2</title>0
										<circle cx="69.35mm" cy="83.52mm" r="3mm" style="stroke:#555;stroke-width:1px;fill:#bbb;" /><!-- 备用孔道2 -->
									</svg>
									<svg>
										<title>注盐/排盐孔道</title>
										<circle id="pourDrain" cx="89.70mm" cy="60.64mm" r="2mm" style="stroke:black;stroke-width:3px;fill:white;" /><!-- 注盐/排盐孔道 -->
									</svg>
								</g>


								<!--a><g id="noteText" preserveAspectRatio="xMinYMin meet" viewBox="0 0 100 100" style="stroke:#555;">
									<text x="500" y="50" style="font-size:1.5em; text-anchor:start;">堆芯位置(50mm,50mm)</text>
									<text x="500" y="80" style="font-size:1.5em; text-anchor:start;">虚线圈半径：39,33,20,10 mm</text>
								</g></a-->
								<g>
									<desc>辅助虚线圈</desc>
									<circle cx="50mm" cy="50mm" r="39mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" /><!-- 堆芯位置(50mm,50mm) -->
									<circle cx="50mm" cy="50mm" r="33mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="20mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="14mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="10mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
								</g>
								<!--a><g>
									<desc>辅助标注</desc>
									<path d="m 136 243, -110 -47 m 0 0, -240 0" style="stroke:#333" /><!-- 加热棒束开孔15 -->
								<!--a></g></a-->
							</svg>
							<text x="50px" y="{{innerWidth/6-10}}px" style="font-size:1.5em; text-anchor:start;">加热棒束开孔功率密度:</text>
							<text x="15px" y="{{innerWidth/6+22}}px" style="font-size:1.2em; text-anchor:start;">孔1:</text>
							<use x="25px" y="-{{innerWidth/6+75}}px" xlink:href="#testuse1" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+49}}px" style="font-size:1.2em; text-anchor:start;">孔2:</text>
							<use x="25px" y="-{{innerWidth/6+102}}px" xlink:href="#testuse2" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+76}}px" style="font-size:1.2em; text-anchor:start;">孔3:</text>
							<use x="25px" y="-{{innerWidth/6+129}}px" xlink:href="#testuse3" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+103}}px" style="font-size:1.2em; text-anchor:start;">孔4:</text>
							<use x="25px" y="-{{innerWidth/6+156}}px" xlink:href="#testuse4" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+132}}px" style="font-size:1.2em; text-anchor:start;">孔5:</text>
							<use x="25px" y="-{{innerWidth/6+183}}px" xlink:href="#testuse5" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+159}}px" style="font-size:1.2em; text-anchor:start;">孔6:</text>
							<use x="25px" y="-{{innerWidth/6+210}}px" xlink:href="#testuse6" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+186}}px" style="font-size:1.2em; text-anchor:start;">孔7:</text>
							<use x="25px" y="-{{innerWidth/6+237}}px" xlink:href="#testuse7" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+213}}px" style="font-size:1.2em; text-anchor:start;">孔8:</text>
							<use x="25px" y="-{{innerWidth/6+264}}px" xlink:href="#testuse8" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+240}}px" style="font-size:1.2em; text-anchor:start;">孔9:</text>
							<use x="25px" y="-{{innerWidth/6+291}}px" xlink:href="#testuse9" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+267}}px" style="font-size:1.2em; text-anchor:start;">孔10:</text>
							<use x="25px" y="-{{innerWidth/6+318}}px" xlink:href="#testuse10" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+294}}px" style="font-size:1.2em; text-anchor:start;">孔11:</text>
							<use x="25px" y="-{{innerWidth/6+345}}px" xlink:href="#testuse11" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+321}}px" style="font-size:1.2em; text-anchor:start;">孔12:</text>
							<use x="25px" y="-{{innerWidth/6+372}}px" xlink:href="#testuse12" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+349}}px" style="font-size:1.2em; text-anchor:start;">孔13:</text>
							<use x="25px" y="-{{innerWidth/6+399}}px" xlink:href="#testuse13" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+372}}px" style="font-size:1.2em; text-anchor:start;">孔14:</text>
							<use x="25px" y="-{{innerWidth/6+426}}px" xlink:href="#testuse14" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+403}}px" style="font-size:1.2em; text-anchor:start;">孔15:</text>
							<use x="25px" y="-{{innerWidth/6+453}}px" xlink:href="#testuse15" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+430}}px" style="font-size:1.2em; text-anchor:start;">孔16:</text>
							<use x="25px" y="-{{innerWidth/6+480}}px" xlink:href="#testuse16" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+457}}px" style="font-size:1.2em; text-anchor:start;">孔17:</text>
							<use x="25px" y="-{{innerWidth/6+507}}px" xlink:href="#testuse17" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+484}}px" style="font-size:1.2em; text-anchor:start;">孔18:</text>
							<use x="25px" y="-{{innerWidth/6+534}}px" xlink:href="#testuse18" transform="scale(1,-1)"></use>
							<text x="15px" y="{{innerWidth/6+511}}px" style="font-size:1.2em; text-anchor:start;">孔19:</text>
							<use x="25px" y="-{{innerWidth/6+561}}px" xlink:href="#testuse19" transform="scale(1,-1)"></use>
						</svg>

						<svg width="{{innerWidth*3.8/6}}px" height="{{innerHeight-42}}px" viewBox="0 0 {{innerWidth}} {{innerHeight-42}}" xmlns="http://www.w3.org/2000/svg" style="background-color:aliceblue; overflow-x:hidden; overflow-y:hidden; border: 1px solid #b4cef8;">								

						</svg>							

					</div>

				</div>

		
				</div>
	
			<!-- END PAGE CONTAINER-->
		
				</div>

		<!-- END PAGE -->    

			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
			
		
	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2017 &copy; TMSR 钍基熔盐堆核能系统.

		</div>
	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<!-- <script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<!-- <script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>       -->

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<!-- <script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script> -->

	<!-- <script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>   -->

	<!-- <script src="media/js/jquery.cookie.min.js" type="text/javascript"></script> -->

	<!-- <script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script> -->

	<!-- END CORE PLUGINS -->


	<script>
		var serverIP="10.10.33.102";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"may:ai1"},{pvname:"may:ai2"},{pvname:"may:ai3"},{pvname:"may:compressExample"}],
		    ao:[{pvname:"may:ao1"}, {pvname:"may:ao2"}, {pvname:"may:ao3"}]
		}

		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {   
			var myUrl = "http://47.100.41.42/epics_manual/manual?callback=JSON_CALLBACK";
			$http.jsonp(myUrl).success(function(response) {
				$scope.manual = response;
				// console.log("when");
				//     console.log(response);
			});		
		});
		app.controller('holeCtrl', function($scope, $window) { 
			$scope.holeXpos="10";
			$scope.holeYpos="20";
			$scope.holeWidth=240; 
			$scope.holeHeight=240;
			$scope.heatHoleColor="red";


			$scope.widgetName="tank"; 
			$scope.tankName="pv0";
			$scope.tankValue=80;
			$scope.tankMax="200";
			$scope.tankMin="0";

			$scope.tankValue11=10;

			$scope.innerWidth=$window.innerWidth;
			$scope.innerHeight=$window.innerHeight;

			
		async.map(pvs.ai,function(item,callback){ 
			socket.on(item.pvname, function (data) {
				if(item.pvname == "may:ai1"){
					$scope.$apply(function(){  //手动出发脏检查。必须有这步才能自动通知angular的module和controller，$scope.tankValue发生变化了。详见腾讯课堂教程《$scope》节
						$scope.tankValue11=data*15+10;
					})
				}
				// console.log(item.pvname); 
				// console.log("data is "+data);
				// console.log("$scope.tankValue11 is "+$scope.tankValue11);
			 });
				
		  }, function(err,results){
		    callback(err,results); 
		   //  console.log(results);
		  });
		});
	</script>

	<script>
		var bodyWidth=document.body.clientWidth;//number类型
		bodyWidth.toString();
		
		// alert(document.body.clientWidth);
		// document.getElementById("div2").style.width=(document.body.clientWidth/2).toString()+"px";
		// document.getElementById("div2").style.height=(document.body.clientWidth/2).toString()+"px";
	</script>


<script src="js/jquery.min.js"></script>
<script src="js/system0.js"></script>
<script src="js/system0-reactor-core.js"></script>

	<script>
		function load(){
			$(".manual").each(function () {
				var content = $(this).text();
				//  console.log(content);
				$(this).html(content);
				})
				// console.log("结束");	
			// window.status="Page is loaded"
		}
	</script>

	<script src="media/js/app.js"></script>      
	<script>
			function jump(){
				window.open("/comment/add",'','',true)
			}
	</script>
	
	<script>

		jQuery(document).ready(function() {  
			// console.log("开始");

			
		   App.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>

<!-- END BODY -->

</html>
