<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>TMSR | EPICS - <%= title %></title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="stylesheets/system0.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	
	<script src="js/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="bower_components/async/dist/async.js"></script> 
<!-- 
<script>
		var serverIP="210.72.8.90";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"hanlfHost:ai1"},{pvname:"hanlfHost:ai2"},{pvname:"hanlfHost:ai3"}],
         ao:[{pvname:"hanlfHost:ao1"}, {pvname:"hanlfHost:ao2"}, {pvname:"hanlfHost:ao3"}]
        }
		// console.log(pvs.ai);
       async.map(pvs.ai,function(item,callback){
          console.log(item.pvname);
          socket.on(item.pvname, function (data) {
            if(document.getElementById(item.pvname)){
             document.getElementById(item.pvname).innerHTML=data;
            }
               });
               
       }, function(err,results){
         callback(err,results); 
         console.log(results);
       });

</script> -->


</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed ng-scope page-sidebar-closed" ng-app="myApp" ng-controller="myCtrl" onload="load()">

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid" style="margin-top:0;" >

		<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->

		<div class="page-sidebar nav-collapse collapse">

			<ul class="page-sidebar-menu hidden-phone hidden-tablet">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />            

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li  >

					<a href="javascript:;">
					<i class="icon-cogs"></i> 
					<span class="title"><span>概述</span>
					<span class="selected "></span>
					<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="/system_structure">
							 	系统结构  </a>
						</li>
			
						<li >
												
							<a href="/control_system">
												
								控制系统 </a>

								<!-- <ul class="sub-menu">

									<li >
			
										<a href="portlet_general.html">
			
											信号变量</a>
			
									</li>
								</ul> -->					
						</li>
						
						<li >
						
							<a href="/epics_manual">
						
								安装配置 </a>
						
						</li>


					</ul>

				</li>

				<li>

					<a href="javascript:;">

					<i class="icon-dashboard"></i> 

					<span class="title">监视控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/widget_tank">

								Tank</a>

						</li>

						<li >

							<a href="portlet_draggable.html">

							   Process Bar </a>

						</li>
						
						<li>
							<a href="widget_led.html">
												
						    	LED</a>
												
						</li>
												
						<li>
												
							<a href="portlet_draggable.html">
												
								Text Update </a>
												
						</li>
						<li>
						
							<a href="portlet_draggable.html">
						
								Meter </a>
						
						</li>
						<li>
												
							<a href="portlet_draggable.html">
												
						 		Guage </a>
												
							</li>

					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">控制控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							TextInput                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							Vector Maps                   </a>

						</li>

					</ul>

				</li>

				<li >

					<a href="charts.html">

					<i class="icon-film"></i> 

					<span class="title">其它</span>

					</a>

				</li>

				<li class="active">

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">系统应用</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							智能监控                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							辐射监测                   </a>

						</li>
						<li class="active">							
							<a href="system0">
							
							综合实验平台               </a>
							
						</li>

					</ul>

				</li>
				<li>
				
					<a href="/comment">
					
						<i class="icon-comment"></i>
					
						<span class="title">留言板</span>
						<span class="badge" style="background-color: #e02222;padding: 2px 6px 2px 6px;-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important; text-shadow: none !important" >new</span>

					</a>
				
				</li>
			</ul>

			<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->

			<ul class="page-sidebar-menu visible-phone visible-tablet">


				<li class="start active">

					<a href="/">

					概述

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

                         <ul class="sub-menu">
						<li >

							<a href="/system_structure">

							<i class="icon-cogs"></i> 

							<span class="title" >系统结构</span>

							<span class="arrow open"></span>

							</a>

						</li>
						<li>

							<a href="/control_system">
		
								<i class="icon-wrench"></i>
		
								<span class="title">控制系统</span>
		
								<span class="arrow open"></span>
		
							</a>
		
						</li>
						<li>
						
							<a href="/epics_manual">

								<i class="icon-wrench"></i> 
						
								<span class="title" >安装配置</span>

								<span class="arrow open"></span>
							
							</a>
						
						</li>
					</ul>
                    </li>
			</ul>

		</div>

		<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
		
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<div id="portlet-config" class="modal hide">
		
				<div class="modal-header">
		
					<button data-dismiss="modal" class="close" type="button"></button>
		
					<h3>portlet Settings</h3>
		
				</div>
		
				<div class="modal-body">
		
					<p>Here will be a configuration form</p>
		
				</div>
		
			</div>
		
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE CONTAINER-->
		
			<div class="">
		
				<!-- BEGIN PAGE HEADER-->
		
				<div class="row-fluid">
		
					<div class="span12" style="margin:0px">
				<div class="row-fluid tankContainer" ng-controller="holeCtrl">
					<!-- <div style="overflow:hidden; margin-left:0px; margin-right:0px; border-color:purple;height:830px; width:{{innerWid}}px; display:inline"> -->
						<!-- <img id="screenSVG" src="image/testsvg.svg" width="800" height="600" /> -->
					<div id="screenContainer" style="position:relative; background-color:#254061; display:flex;">
						<div id="leftContainer" style="background-color:#254061; border:3px solid #b9cde5; border-right:none; overflow:visible;">
							<!-- <svg width="{{innerWidth/6}}" height="{{innerHeight}}" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg"> -->
								<!-- <svg x="66%" y="10%" width="34%" height="3.25%" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg">
									<title>加热棒径向功率和状态</title>
									<desc>综合实验平台 - 加热棒径向功率和状态</desc>
									<rect x="100%" y="100%" width="100%" height="3.25%" style="stroke:none; fill:#254000;" />
									<text x="67%" y="2.5%" style="font-size:1.5em; font-weight:bold; fill:#d9d9d9">反应堆温度</text>
								</svg> -->
								<svg width="100%" height="100%" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg">
								<title>加热棒径向功率和状态</title>
								<desc>综合实验平台 - 加热棒径向功率和状态</desc>
								<rect x="66%" y="0%" width="34%" height="3.25%" style="stroke:none; fill:#254000;" />
								<text x="67%" y="2.5%" style="font-size:1.5em; font-weight:bold; fill:#d9d9d9">反应堆温度</text>
								<text x="6.25%" y="6%" style="font-size:1.1em; font-weight:bold; fill:#d9d9d9">加热棒径向功率</text>
								<!-- 堆芯边缘 --><circle cx="{{innerWidth/6/2+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2*0.85}}" style="stroke:#b9cde5; stroke-width:3; fill:none;" />
								<!-- 正中间的加热棒 --><circle cx="{{innerWidth/6/2+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#d99694;" />
								<!-- 从内至外第二圈加热棒 --><circle cx="{{innerWidth/6/2*0.74+innerWidth/6/55+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#d9cde5;" transform="rotate(0, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/55+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#d9cde5;" transform="rotate(60, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/55+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#d9cde5;" transform="rotate(120, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/55+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#d9cde5;" transform="rotate(180, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/55+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#d9cde5;" transform="rotate(240, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/55+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#d9cde5;" transform="rotate(300, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!-- 从内至外第三圈加热棒 --><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(15, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(45, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(75, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(105, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(135, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(165, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(195, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(225, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(255, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(285, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(315, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/22+innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.9}}" style="stroke:none; fill:#c00000;" transform="rotate(345, {{innerWidth/6/2+innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/20+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/20}}" style="font-size:1em; font-weight:bold; fill:#333333;">1</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/3.8+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/20}}" style="font-size:1em; font-weight:bold; fill:#333333;">2</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/10+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/4.2}}" style="font-size:1em; font-weight:bold; fill:#333333;">3</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/5+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/4.2}}" style="font-size:1em; font-weight:bold; fill:#333333;">4</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/2.8+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/20}}" style="font-size:1em; font-weight:bold; fill:#333333;">5</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/5+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/3}}" style="font-size:1em; font-weight:bold; fill:#333333;">6</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/10+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/3}}" style="font-size:1em; font-weight:bold; fill:#333333;">7</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/1.78+innerWidth/6/12}}" y="{{innerWidth/6/2-innerWidth/6/9+innerWidth/6*0.7/3.8}}" style="font-size:1em; font-weight:bold; fill:#222222;">8</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/2.5+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/2.6}}" style="font-size:1.2em; font-weight:bold; fill:blue;">9</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/15+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/1.78}}" style="font-size:1em; font-weight:bold; fill:#222222;">10</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/3.9+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/1.78}}" style="font-size:1em; font-weight:bold; fill:#222222;">11</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/1.85+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/2.6}}" style="font-size:1em; font-weight:bold; fill:#222222;">12</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/1.42+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/9}}" style="font-size:1em; font-weight:bold; fill:#222222;">13</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/1.42+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/4.8}}" style="font-size:1em; font-weight:bold; fill:#222222;">14</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/1.85+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/2}}" style="font-size:1.2em; font-weight:bold; fill:blue;">15</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/3.9+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/1.5}}" style="font-size:1em; font-weight:bold; fill:#222222;">16</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/15+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/1.5}}" style="font-size:1em; font-weight:bold; fill:#222222;">17</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/2.8+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/2}}" style="font-size:1em; font-weight:bold; fill:#222222;">18</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/1.9+innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/4.8}}" style="font-size:1em; font-weight:bold; fill:#222222;">19</text>
								<!-- state --><text x="{{innerWidth/6/16}}" y="{{innerWidth/6-innerWidth/6/34}}" style="font-size:1.1em; font-weight:bold; fill:#d9d9d9">加热棒状态</text>
								<rect x="{{innerWidth/6/32}}" y="{{innerWidth/6+innerWidth/6/24-innerWidth/6/32}}" width="{{innerWidth/6/32*30}}" height="{{innerHeight-innerWidth/6*1.1+innerWidth/6/32}}" style="stroke:none; fill:#f888d8;" />
								<text x="{{innerWidth/6/16+innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8-innerWidth/6/32}}" style="font-size:1.1em;">加热棒</text>
								<text x="{{innerWidth/6/16+innerWidth/6/4}}" y="{{innerWidth/6+innerWidth/6/8-innerWidth/6/32}}" style="font-size:1.1em;">开/关</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8-innerWidth/6/32}}" style="font-size:1.1em;">功率 (kW)</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20-innerWidth/6/32}}" style="font-size:1em;">1</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20-innerWidth/6/32}}" style="font-size:1.1em;">1.234</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*2-innerWidth/6/32}}" style="font-size:1em;">2</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*2-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*2-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*3-innerWidth/6/32}}" style="font-size:1em;">3</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*3-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*3-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*4-innerWidth/6/32}}" style="font-size:1em;">4</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*4-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*4-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*5-innerWidth/6/32}}" style="font-size:1em;">5</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*5-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*5-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*6-innerWidth/6/32}}" style="font-size:1em;">6</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*6-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*6-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*7-innerWidth/6/32}}" style="font-size:1em;">7</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*7-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*7-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*8-innerWidth/6/32}}" style="font-size:1em;">8</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*8-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*8-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*9-innerWidth/6/32}}" style="font-size:1.1em; font-weight:bold; fill:blue">9</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*9-innerWidth/6/32}}" style="font-size:1.1em; font-weight:bold; fill:blue">关</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*9-innerWidth/6/32}}" style="font-size:1.1em; font-weight:bold; fill:blue">0</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*10-innerWidth/6/32}}" style="font-size:1em;">10</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*10-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*10-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*11-innerWidth/6/32}}" style="font-size:1em;">11</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*11-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*11-innerWidth/6/32}}" style="font-size:1.1em;">0.959</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*12-innerWidth/6/32}}" style="font-size:1em;">12</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*12-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*12-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*13-innerWidth/6/32}}" style="font-size:1em;">13</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*13-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*13-innerWidth/6/32}}" style="font-size:1.1em;">2.001</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*14-innerWidth/6/32}}" style="font-size:1em;">14</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*14-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*14-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*15-innerWidth/6/32}}" style="font-size:1.1em; font-weight:bold; fill:blue">15</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*15-innerWidth/6/32}}" style="font-size:1.1em; font-weight:bold; fill:blue">关</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*15-innerWidth/6/32}}" style="font-size:1.1em; font-weight:bold; fill:blue">0</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*16-innerWidth/6/32}}" style="font-size:1em;">16</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*16-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*16-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*17-innerWidth/6/32}}" style="font-size:1em;">17</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*17-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*17-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*18-innerWidth/6/32}}" style="font-size:1em;">18</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*18-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*18-innerWidth/6/32}}" style="font-size:1.1em;">1.334</text>
								<text x="{{innerWidth/6/8-innerWidth/6/64}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*19-innerWidth/6/32}}" style="font-size:1em;">19</text>
								<text x="{{innerWidth/6/8+innerWidth/6/4.5}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*19-innerWidth/6/32}}" style="font-size:1em;">开</text>
								<text x="{{innerWidth/6/16+innerWidth/6/2}}" y="{{innerWidth/6+innerWidth/6/8+(innerHeight-innerWidth/6*1.1)/20*19-innerWidth/6/32}}" style="font-size:1.1em;">0.934</text>
							</svg>
							<!-- <img id="leftSVG" src="image/testsvg.svg" style="position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:auto; height:auto; max-width:100%; max-height:100%;"/> -->
						</div>
						<div id="middleContainer" style="background-color:#254061; border:3px solid #b9cde5; display:flex">
							<svg width="{{innerWidth/6}}" height="{{innerHeight}}" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg">
								<title>堆芯温度分布</title>
								<desc>综合实验平台 - 堆芯温度分布</desc>
								<text x="{{innerWidth/6-innerWidth/6/16}}" y="{{innerWidth/6/10+innerWidth/6/5}}" style="font-size:1.1em; font-weight:bold; fill:#d9d9d9; text-anchor:end;">径向温度分布</text>
								<!-- 堆芯边缘 --><circle cx="{{innerWidth/6/2-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2*0.83}}" style="stroke:#b9cde5; stroke-width:3; fill:none;" />
								<!-- 堆芯正中心 --><circle cx="{{innerWidth/6/2-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.15}}" style="fill:#b9cde5;" />
								<!-- 正中间的加热棒 --><circle cx="{{innerWidth/6/2-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" />
								<!-- 从内至外第二圈加热棒 --><circle cx="{{innerWidth/6/2*0.74+innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(0, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(60, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(120, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(180, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(240, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.74+innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(300, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!-- 从内至外第三圈加热棒 --><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(15, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(45, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(75, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(105, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(135, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(165, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(195, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(225, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(255, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(285, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(315, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<circle cx="{{innerWidth/6/2*0.47+innerWidth/6/9-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.55}}" style="stroke:#b9cde5; stroke-width:2; stroke-dasharray:5,2; fill:none;" transform="rotate(345, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!-- temperature --><!--1--><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/14-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f088d8;" transform="rotate(120, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--2--><circle cx="{{innerWidth/6/2*0.47-innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(120, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--3--><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/6.42-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(90, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--4--><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/14-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(30, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--5--><circle cx="{{innerWidth/6/2*0.47-innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(30, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--6--><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/14-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f088d8;" transform="rotate(300, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--7--><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/60-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(300, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--8--><circle cx="{{innerWidth/6/2*0.47-innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(300, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--9--><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/6.42-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(270, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--6--><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/14-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f088d8;" transform="rotate(210, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--7--><circle cx="{{innerWidth/6/2*0.47+innerWidth/6/60-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(210, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<!--8--><circle cx="{{innerWidth/6/2*0.47-innerWidth/6/20-innerWidth/6/12}}" cy="{{innerWidth/6/2+innerWidth/6/9}}" r="{{innerWidth/6*0.7/2/6*0.35}}" style="stroke:none; fill:#f888d8;" transform="rotate(210, {{innerWidth/6/2-innerWidth/6/12}},{{innerWidth/6/2+innerWidth/6/9}})" />
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/4.2-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/2.3}}" style="font-size:1em; font-weight:bold; fill:#222222;">1</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/2.4-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/1.35}}" style="font-size:1em; font-weight:bold; fill:#222222;">2</text>
								<text x="{{innerWidth/6/2-innerWidth/2/6/40-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/3.52}}" style="font-size:1em; font-weight:bold; fill:#222222;">3</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/1.95-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/4.25}}" style="font-size:1em; font-weight:bold; fill:#222222;">4</text>
								<text x="{{innerWidth/6/2-innerWidth/6*0.7/2/1.23-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9-innerWidth/6*0.7/2/2.47}}" style="font-size:1em; font-weight:bold; fill:#222222;">5</text>
								<text x="{{innerWidth/6/2-innerWidth/2/6/4.6-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/1.92}}" style="font-size:1em; font-weight:bold; fill:#222222;">6</text>
								<text x="{{innerWidth/6/2-innerWidth/2/6/3.75-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/1.52}}" style="font-size:1em; font-weight:bold; fill:#222222;">7</text>
								<text x="{{innerWidth/6/2-innerWidth/2/6/2.95-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/1.21}}" style="font-size:1em; font-weight:bold; fill:#222222;">8</text>
								<text x="{{innerWidth/6/2-innerWidth/2/6/40-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/2.85}}" style="font-size:1em; font-weight:bold; fill:#222222;">9</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/2.43-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/3.2}}" style="font-size:1em; font-weight:bold; fill:#222222;">10</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/1.8-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/2.52}}" style="font-size:1em; font-weight:bold; fill:#222222;">11</text>
								<text x="{{innerWidth/6/2+innerWidth/6*0.7/2/1.4-innerWidth/6/12}}" y="{{innerWidth/6/2+innerWidth/6/9+innerWidth/6*0.7/2/2.05}}" style="font-size:1em; font-weight:bold; fill:#222222;">12</text>

								<!-- kong state --><text x="{{innerWidth/6-innerWidth/6/16}}" y="{{innerWidth/6-innerWidth/6/34}}" style="font-size:1.1em; font-weight:bold; fill:#d9d9d9; text-anchor:end;">轴向温度分布</text>
								<rect x="{{innerWidth/6/32}}" y="{{innerWidth/6+innerWidth/6/24-innerWidth/6/32}}" width="{{innerWidth/6/32*30}}" height="{{innerHeight-innerWidth/6*1.1+innerWidth/6/32}}" style="stroke:none; fill:#b7dee8;" />
								<text x="{{innerWidth/6/5.1}}" y="{{innerWidth/6+innerWidth/6/8-innerWidth/6/90}}" style="font-size:1.1em; text-anchor:end;">深度</text>
								<text x="{{innerWidth/6-innerWidth/6/16}}" y="{{innerWidth/6+innerWidth/6/8-innerWidth/6/35}}" style="fill:#333333; font-size:1.15em; font-weight:bold; text-anchor:end;">【温度测量孔1】</text>
								<!--深度(最高)--><!--10--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195}}" width="{{innerWidth/6/32*30-innerWidth/6/4}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--9--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10}}" width="{{innerWidth/6/32*30-innerWidth/6/1.6}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--8--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*2}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*2}}" width="{{innerWidth/6/32*30-innerWidth/6/2.3}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--7--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*3}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*3}}" width="{{innerWidth/6/32*30-innerWidth/6/1.8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--6--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*4}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*4}}" width="{{innerWidth/6/32*30-innerWidth/6/3.4}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--5--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*5}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*5}}" width="{{innerWidth/6/32*30-innerWidth/6/4.03}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--4--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*6}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*6}}" width="{{innerWidth/6/32*30-innerWidth/6/1.4}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--3--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*7}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*7}}" width="{{innerWidth/6/32*30-innerWidth/6/3}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--2--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*8}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*8}}" width="{{innerWidth/6/32*30-innerWidth/6/2.7}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--1--><rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*9}}" width="{{innerWidth/6/32*30-innerWidth/6/8}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#254061;" />
								<rect x="{{innerWidth/6/32+innerWidth/6/15}}" y="{{innerWidth*0.195+(innerWidth/4.3)/10*9}}" width="{{innerWidth/6/32*30-innerWidth/6/4.1}}" height="{{innerWidth/6/12}}" style="stroke:none; fill:#f888d8;" />
								<!--X--><path d="m{{innerWidth/6/32+innerWidth/6/24}} {{innerWidth/6+innerWidth/6/9+(innerHeight-innerWidth/6*1.1)/20*19-innerWidth/6/8}} h{{innerWidth/6/32*30-innerWidth/6/12}}" style="stroke:#222222; stroke-width:2;" />
								<!--Y--><path d="m{{innerWidth/6/32+innerWidth/6/24}} {{innerWidth/6+innerWidth/6/9+(innerHeight-innerWidth/6*1.1)/20*19-innerWidth/6/8}} v{{-innerWidth/4.05}}" style="stroke:#222222; stroke-width:2;" />
								<path d="m{{innerWidth/6/32*30-innerWidth/6/40}} {{innerWidth/6+innerWidth/3.84}} L{{innerWidth/6/32*30+innerWidth/6/100}} {{innerWidth/6+innerWidth/3.875}} L{{innerWidth/6/32*30-innerWidth/6/40}} {{innerWidth/6+innerWidth/3.92}}" style="stroke:#222222; stroke-width:2;" />
								<path d="m{{innerWidth/6/16+innerWidth/6/64-innerWidth/6/45}} {{innerWidth/6+innerWidth/6/8-innerWidth/6/32}} L{{innerWidth/6/16+innerWidth/6/64+innerWidth/6/100}} {{innerWidth/6+innerWidth/6/8-innerWidth/6/30}} L{{innerWidth/6/16+innerWidth/6/110}} {{innerWidth/6+innerWidth/6/8-innerWidth/6/14}}" style="stroke:#222222; stroke-width:2;" />
								<text x="{{innerWidth/6-innerWidth/6/10}}" y="{{innerWidth/6+innerWidth/3.72}}" style="font-size:1.1em; text-anchor:end;">温度</text>
								<text x="{{innerWidth/6/5.7}}" y="{{innerWidth/6+innerWidth/3.72}}" style="font-size:1.1em; text-anchor:end;">最低点</text>
							</svg>
						</div>
						<div id="rightContainer" style="background-color:#254061; border:3px solid #b9cde5; border-left:none; display:flex">
							<svg width="{{innerWidth/3*2}}" height="{{innerHeight}}" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg">
								<title>装置图</title>
								<desc>综合实验平台 - 装置图</desc>3
								<!-- 虚线框橙 --><rect x="{{innerWidth/3*2/9*1.1}}" y="{{innerWidth/6/2/40*3.15}}" width="{{innerWidth/3*2/9*2}}" height="{{innerHeight-innerWidth/6/2/40*9}}" style="fill:none; stroke:#cc5600; stroke-width:2; stroke-dasharray:5,3;" />
								<!-- 虚线框绿 --><rect x="{{innerWidth/3*2/9*3.9}}" y="{{innerWidth/6/2/40*3}}" width="{{innerWidth/3*2/9*2}}" height="{{innerHeight-innerWidth/6/2/40*9}}" style="fill:none; stroke:#00cc00; stroke-width:2; stroke-dasharray:5,3;" />
								<!-- 虚线框蓝 --><rect x="{{innerWidth/3*2/9*6.2}}" y="{{innerWidth/6/2/40*3}}" width="{{innerWidth/3*2/9*2.7}}" height="{{innerHeight-innerWidth/6/2/40*9}}" style="fill:none; stroke:#2167ff; stroke-width:2; stroke-dasharray:5,3;" />
								<path d="m{{innerWidth/30}} {{innerHeight/8}}h{{innerWidth/75}}Q{{innerWidth/25}} {{innerHeight/6.7}}, {{innerWidth/20}} {{innerHeight/5.6}}h{{-innerWidth/60}}" style="stroke:#00cc00;fill:none;" />
								<path d="m0 {{innerHeight/4}}h{{innerWidth/3*2}}" style="stroke:#d9d9d9" />
								<path d="m0 {{innerHeight/2}}h{{innerWidth/3*2}}" style="stroke:#d9d9d9" />
								<path d="m0 {{innerHeight/4*3}}h{{innerWidth/3*2}}" style="stroke:#d9d9d9" />
							</svg>
						</div>
						<div id="topContainer" style="position:absolute; top:0.8%; left:10%; width:14%; height:2.5%; background-color:#254061; border:3px solid #254061;">
							<p style="font-size:1.4em; font-weight:bold; color:#d9d9d9; background-color:#254061">
								反应堆温度控制和监测
							</p>
							<!-- <svg width="50%" height="50%" preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg">
								<title>总体参数</title>
								<desc>综合实验平台 - 总体参数</desc>
								<text x="5%" y="5%" style="font-size:1.2em; font-weight:bold; fill:#d9d9d9;">反应堆温度控制和监测（标题这样可以？？）</text>
								<text x="5%" y="25%" style="font-size:1.1em; font-weight:bold; fill:#d9d9d9;">总体参数</text>
								<text x="5%" y="{{innerWidth/6/20+innerWidth/6/5/3}}" style="font-size:1.1em;">总功率 - 【这块布局待改】</text>
								<text x="5%" y="50%" style="font-size:1.1em;">硼浓度 - 【这块布局待改】</text>
							</svg> -->
						</div>
						<div id="topMarker" style="position:absolute; top:4%; left:12.8%; width:8%; height:7%; background-color:green; border:none; display:flex;">
							<div style="width:50%; height:100%; background-color:green;">
								<p style="font-size:1em; color:#222222; font-weight:bold; margin:2% 0 5% 0; padding:0 5% 0 15%;">
									总功率
								</p>
								<p style="font-size:1em; color:#222222; font-weight:bold; margin:26% 0 1% 0; padding:0 5% 0 15%;">
									硼浓度
								</p>
							</div>
							<div style="width:50%; height:100%; background-color:yellow;">
								<p style="font-size:1em; color:#222222; margin:0 0 0 0; padding:0 5% 0 15%;">
									1002.35
								</p>
								<p style="font-size:1em; color:#222222; margin:-9% 0 0 0; padding:0 5% 0 15%;">
									1.05
								</p>
								<p style="font-size:1em; color:#222222; margin:1.5% 0 1% 0; padding:0 5% 0 15%;">
									24.45
								</p>
							</div>
						</div>
					</div>

				</div>

		
				</div>
	
			<!-- END PAGE CONTAINER-->
		
				</div>

		<!-- END PAGE -->    

			</div>
		</div>

	</div>
	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->
	<div class="footer">	
		<div class="footer-inner">
			<!-- 2017 &copy; TMSR 钍基熔盐堆核能系统. -->
			&nbsp
		</div>
		<div class="footer-tools">
			<!-- <span class="go-top">	 -->
				<!-- <i class="icon-angle-up"></i> -->
			<span>
				&nbsp
			</span>
		</div>
	</div>	
	&nbsp
	<!-- END FOOTER -->


	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!-- [if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]    -->

	<script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->


	<script>
		var serverIP="10.10.33.102";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"may:ai1"},{pvname:"may:ai2"},{pvname:"may:ai3"},{pvname:"may:compressExample"}],
		    ao:[{pvname:"may:ao1"}, {pvname:"may:ao2"}, {pvname:"may:ao3"}]
		}

		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {   
			var myUrl = "http://47.100.41.42/epics_manual/manual?callback=JSON_CALLBACK";
			$http.jsonp(myUrl).success(function(response) {
				$scope.manual = response;
				// console.log("when");
				//     console.log(response);
			});		
		});
		app.controller('holeCtrl', function($scope, $window) { 
			$scope.holeXpos="10";
			$scope.holeYpos="20";
			$scope.holeWidth=240; 
			$scope.holeHeight=240;
			$scope.heatHoleColor="red";


			$scope.widgetName="tank"; 
			$scope.tankName="pv0";
			$scope.tankValue=80;
			$scope.tankMax="200";
			$scope.tankMin="0";

			$scope.tankValue11=10;

			$scope.innerWidth=$window.innerWidth;
			$scope.innerHeight=$window.innerHeight;

			
		async.map(pvs.ai,function(item,callback){ 
			socket.on(item.pvname, function (data) {
				if(item.pvname == "may:ai1"){
					$scope.$apply(function(){  //手动出发脏检查。必须有这步才能自动通知angular的module和controller，$scope.tankValue发生变化了。详见腾讯课堂教程《$scope》节
						$scope.tankValue11=data*15+10;
					})
				}
				// console.log(item.pvname); 
				// console.log("data is "+data);
				// console.log("$scope.tankValue11 is "+$scope.tankValue11);document.getElementById("leftSVG").style.width=(document.body.clientWidth/6).toString()+"px";
			 });
				
		  }, function(err,results){
		    callback(err,results); 
		   //  console.log(results);
		  });
		});
	</script>

	<script>
		document.getElementById("screenContainer").style.width=(document.body.clientWidth).toString()+"px";
		document.getElementById("screenContainer").style.height=(document.body.clientHeight).toString()+"px";

		document.getElementById("leftContainer").style.width=(document.body.clientWidth/6).toString()+"px";
		document.getElementById("leftContainer").style.height=(document.body.clientHeight).toString()+"px";

		// document.getElementById("leftSVG").style.width=(document.body.clientWidth/6-5).toString()+"px";
		// document.getElementById("leftSVG").style.height=(document.body.clientHeight-5).toString()+"px";

		document.getElementById("rightContainer").style.width=(document.body.clientWidth/6).toString()+"px";
		document.getElementById("rightContainer").style.height=(document.body.clientHeight).toString()+"px";

		document.getElementById("middleContainer").style.width=(document.body.clientWidth/6).toString()+"px";
		document.getElementById("middleContainer").style.height=(document.body.clientHeight).toString()+"px";

		document.getElementById("rightContainer").style.width=(document.body.clientWidth*2/3).toString()+"px";
		document.getElementById("rightContainer").style.height=(document.body.clientHeight).toString()+"px";
	</script>


<script src="js/jquery.min.js"></script>
<!-- <script src="js/system0.js"></script> -->
<!-- <script src="js/system0-reactor-core.js"></script> -->

	<script>
		function load(){
			$(".manual").each(function () {
				var content = $(this).text();
				//  console.log(content);
				$(this).html(content);
				})
				// console.log("结束");	
			// window.status="Page is loaded"
		}
	</script>

	<script src="media/js/app.js"></script>      
	<script>
			function jump(){
				window.open("/comment/add",'','',true)
			}
	</script>
	
	<script>

		jQuery(document).ready(function() {  
			// console.log("开始");

			
		   App.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>

<!-- END BODY -->

</html>
