<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>TMSR | EPICS - <%= title %></title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="stylesheets/system0.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	
	<script src="js/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="bower_components/async/dist/async.js"></script> 
<!-- 
<script>
		var serverIP="210.72.8.90";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"hanlfHost:ai1"},{pvname:"hanlfHost:ai2"},{pvname:"hanlfHost:ai3"}],
         ao:[{pvname:"hanlfHost:ao1"}, {pvname:"hanlfHost:ao2"}, {pvname:"hanlfHost:ao3"}]
        }
		// console.log(pvs.ai);
       async.map(pvs.ai,function(item,callback){
          console.log(item.pvname);
          socket.on(item.pvname, function (data) {
            if(document.getElementById(item.pvname)){
             document.getElementById(item.pvname).innerHTML=data;
            }
               });
               
       }, function(err,results){
         callback(err,results); 
         console.log(results);
       });

</script> -->


</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed ng-scope page-sidebar-closed" ng-app="myApp" ng-controller="myCtrl" onload="load()">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-custom navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="/">

				<img src="media/image/logo.png" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN HORIZANTAL MENU -->

			

				<!-- END HORIZANTAL MENU -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					

				

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="media/image/avatar1_small.jpg" />

						<span class="username">user</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">
							<li><a href="/comment"><i class="icon-comment"></i>留言板</a></li>


						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid" >

		<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->

		<div class="page-sidebar nav-collapse collapse">

			<ul class="page-sidebar-menu hidden-phone hidden-tablet">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />            

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li  >

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title"><span>概述</span>

					<span class="selected "></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/system_structure">

							 	系统结构                    </a>

						</li>



						
						<li >
												
							<a href="/control_system">
												
								控制系统 </a>

								<!-- <ul class="sub-menu">

									<li >
			
										<a href="portlet_general.html">
			
											信号变量</a>
			
									</li>
								</ul> -->

												
						</li>

						
						<li >
						
							<a href="/epics_manual">
						
								安装配置 </a>
						
						</li>




					</ul>

				</li>

				<li>

					<a href="javascript:;">

					<i class="icon-dashboard"></i> 

					<span class="title">监视控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/widget_tank">

								Tank</a>

						</li>

						<li >

							<a href="portlet_draggable.html">

							   Process Bar </a>

						</li>
						
						<li>
							<a href="widget_led.html">
												
						    	LED</a>
												
						</li>
												
						<li>
												
							<a href="portlet_draggable.html">
												
								Text Update </a>
												
						</li>
						<li>
						
							<a href="portlet_draggable.html">
						
								Meter </a>
						
						</li>
						<li>
												
							<a href="portlet_draggable.html">
												
						 		Guage </a>
												
							</li>

					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">控制控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							TextInput                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							Vector Maps                   </a>

						</li>

					</ul>

				</li>

				<li >

					<a href="charts.html">

					<i class="icon-film"></i> 

					<span class="title">其它</span>

					</a>

				</li>

				<li class="active">

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">系统应用</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							智能监控                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							辐射监测                   </a>

						</li>
						<li class="active">							
							<a href="system0">
							
							综合实验平台               </a>
							
						</li>

					</ul>

				</li>
				<li>
				
					<a href="/comment">
					
						<i class="icon-comment"></i>
					
						<span class="title">留言板</span>
						<span class="badge" style="background-color: #e02222;padding: 2px 6px 2px 6px;-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important; text-shadow: none !important" >new</span>

					</a>
				
				</li>
			</ul>

			<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->

			<ul class="page-sidebar-menu visible-phone visible-tablet">


				<li class="start active">

					<a href="/">

					概述

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

                         <ul class="sub-menu">
						<li >

							<a href="/system_structure">

							<i class="icon-cogs"></i> 

							<span class="title" >系统结构</span>

							<span class="arrow open"></span>

							</a>

						</li>
						<li>

							<a href="/control_system">
		
								<i class="icon-wrench"></i>
		
								<span class="title">控制系统</span>
		
								<span class="arrow open"></span>
		
							</a>
		
						</li>
						<li>
						
							<a href="/epics_manual">

								<i class="icon-wrench"></i> 
						
								<span class="title" >安装配置</span>

								<span class="arrow open"></span>
							
							</a>
						
						</li>
					</ul>
                    </li>
			</ul>

		</div>

		<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
		
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<div id="portlet-config" class="modal hide">
		
				<div class="modal-header">
		
					<button data-dismiss="modal" class="close" type="button"></button>
		
					<h3>portlet Settings</h3>
		
				</div>
		
				<div class="modal-body">
		
					<p>Here will be a configuration form</p>
		
				</div>
		
			</div>
		
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE CONTAINER-->
		
			<div class="container-fluid">
		
				<!-- BEGIN PAGE HEADER-->
		
				<div class="row-fluid">
		
					<div class="span12">
		
						<!-- BEGIN STYLE CUSTOMIZER -->
		
						<div class="color-panel hidden-phone">
		
							<div class="color-mode-icons icon-color"></div>
		
							<div class="color-mode-icons icon-color-close"></div>
		
							<div class="color-mode">
		
								<p>THEME COLOR</p>
		
								<ul class="inline">
		
									<li class="color-white color-light" data-style="light"></li>
		
								</ul>
		
								<label>
		
									<span>Layout</span>
		
									<select class="layout-option m-wrap small">
		
										<option value="fluid" selected>Fluid</option>
		
										<option value="boxed">Boxed</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Header</span>
		
									<select class="header-option m-wrap small">
		
										<option value="fixed" selected>Fixed</option>
		
										<option value="default">Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Sidebar</span>
		
									<select class="sidebar-option m-wrap small">
		
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Footer</span>
		
									<select class="footer-option m-wrap small">
		
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
							</div>
		
						</div>
		
						<!-- END BEGIN STYLE CUSTOMIZER -->
		
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		
						<h3 class="page-title">
		
							EPICS软件
							<small>系统应用</small>
		
						</h3>
		
						<ul class="breadcrumb">
		
							<li>
		
								<i class="icon-home"></i>
		
								<a href="/">Home</a>
		
								<i class="icon-angle-right"></i>
		
							</li>
		
							<li>
		
								<a href="/system0"> System0</a>
		
							</li>
		
						</ul>
		
						<!-- END PAGE TITLE & BREADCRUMB-->
		
					</div>
		
				</div>
		
				<!-- END PAGE HEADER-->

				<div class="alert">
						综合实验平台，堆本体堆内孔如下图。
				</div>
				<div class="row-fluid tankContainer" ng-controller="holeCtrl">
					<div class="span9" style="overflow:scroll;">
						<svg width="1250px" height="1250px" viewBox="0 0 1250 1250" xmlns="http://www.w3.org/2000/svg" style="background-color:aliceblue; overflow-x:scroll; overflow-y:scroll; border: 1px solid #b4cef8;">
							<title>综合实验平台的模拟堆体</title>
							<desc>此svg的描述:综合实验平台的模拟堆体</desc>
							<!-- 在这里开始绘制图形 -->
							<svg x="{{holeXpos}}mm" y="{{holeYpos}}mm" width="200mm" height="200mm" viewBox="0 0 200mm 200mm" transform="scale({{holeWidth/200}}, {{holeHeight/200}})" preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg">
								<g id="heatHole">
									<desc>加热棒束开孔</desc>
									<svg>
										<title>加热棒束开孔1</title>
										<circle cx="50mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔2</title>
										<circle cx="60mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
										<!-- 旋转中心点的坐标单位怎么设置?? -->
										<!--circle cx="80mm" cy="102mm" r="4mm" transform="rotate(0,50 50)" style="stroke:black;stroke-width:3px;fill:none;" /-->
									</svg>
									<svg>
										<title>加热棒束开孔7</title>
										<circle cx="55mm" cy="58.66mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔6</title>
										<circle cx="45mm" cy="58.66mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔5</title>
										<circle cx="40mm" cy="50mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔4</title>
										<circle cx="45mm" cy="41.34mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔3</title>
										<circle cx="55mm" cy="41.34mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>

									<svg>
										<title>加热棒束开孔9</title>
										<circle cx="64.14mm" cy="35.86mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔18</title>
										<circle cx="64.14mm" cy="64.14mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔15</title>
										<circle cx="35.86mm" cy="64.14mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔12</title>
										<circle cx="35.86mm" cy="35.86mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔8</title>
										<circle cx="69.32mm" cy="44.82mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔19</title>
										<circle cx="69.32mm" cy="55.18mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔14</title>
										<circle cx="30.68mm" cy="55.18mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔13</title>
										<circle cx="30.68mm" cy="44.82mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔16</title>
										<circle cx="44.82mm" cy="69.32mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔17</title>
										<circle cx="55.18mm" cy="69.32mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>
										<title>加热棒束开孔10</title>
										<circle cx="55.18mm" cy="30.68mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
									<svg>0
										<title>加热棒束开孔11</title>
										<circle cx="44.82mm" cy="30.68mm" r="4mm" style="stroke:black;stroke-width:3px;fill:{{heatHoleColor}};" />
									</svg>
								</g>
								<g>
									<desc>其他孔</desc>
									<svg>
										<title>模拟控制棒孔道</title>
										<circle cx="17.66mm" cy="63.39mm" r="4mm" style="stroke:black;stroke-width:1px;fill:white;" /><!-- 模拟控制棒孔道 -->
										<line x1="10.66mm" y1="63.39mm" x2="24.66mm" y2="63.39mm" style="stroke:gray;" />
										<line x1="17.66mm" y1="56.39mm" x2="17.66mm" y2="70.39mm" style="stroke:gray;" />
									</svg>
									<svg>
										<title>液位测量孔1</title>
										<circle cx="35.19mm" cy="14.25mm" r="3mm" style="stroke:#333;stroke-width:3px;fill:white;" /><!-- 液位测量孔1 -->
									</svg>
									<svg>
										<title>液位测量孔2</title>
										<circle cx="50mm" cy="88.7mm" r="3mm" style="stroke:#333;stroke-width:3px;fill:white;" /><!-- 液位测量孔2 -->
									</svg>
									<svg>
										<title>覆盖气体孔1</title>
										<circle cx="88.7mm" cy="50mm" r="2.5mm" style="stroke:#333;stroke-width:1px;fill:#444;" /><!-- 覆盖气体孔1 -->
									</svg>
									<svg>
										<title>覆盖气体孔2</title>
										<circle cx="12.08mm" cy="42.28mm" r="2.5mm" style="stroke:#333;stroke-width:1px;fill:#444;" /><!-- 覆盖气体孔2 -->
									</svg>

									<svg>
										<title>温度测量1</title>
										<circle cx="63.08mm" cy="27.34mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量1 -->
									</svg>
									<svg>
										<title>温度测量2</title>
										<circle cx="70.13mm" cy="15.14mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量2 -->
									</svg>
									<svg>
										<title>温度测量3</title>
										<circle cx="50mm" cy="36mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量3 -->
									</svg>
									<svg>
										<title>温度测量4</title>
										<circle cx="27.35mm" cy="36.92mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量4 -->
									</svg>
									<svg>
										<title>温度测量5</title>
										<circle cx="15.13mm" cy="29.87mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量5 -->
									</svg>
									<svg>
										<title>温度测量6</title>
										<circle cx="36.92mm" cy="72.66mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量6 -->
									</svg>
									<svg>
										<title>温度测量7</title>
										<circle cx="33.42mm" cy="78.72mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量7 -->
									</svg>
									<svg>
										<title>温度测量8</title>
										<circle cx="29.87mm" cy="84.87mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量8 -->
									</svg>
									<svg>
										<title>温度测量9</title>
										<circle cx="50mm" cy="64mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量9 -->
									</svg>
									<svg>
										<title>温度测量10</title>
										<circle cx="72.66mm" cy="63.08mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量10 -->
									</svg>
									<svg>
										<title>温度测量11</title>
										<circle cx="78.72mm" cy="66.58mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量11 -->
									</svg>
									<svg>
										<title>温度测量12</title>
										<circle cx="84.87mm" cy="70.13mm" r="1mm" style="stroke:#111;stroke-width:1px;fill:#999;" /><!-- 温度测量12 -->
									</svg>

									<svg>
										<title>备用孔道1</title>
										<circle cx="83.52mm" cy="30.65mm" r="3mm" style="stroke:#555;stroke-width:1px;fill:#bbb;" /><!-- 备用孔道1 -->
									</svg>
									<svg>
										<title>备用孔道2</title>0
										<circle cx="69.35mm" cy="83.52mm" r="3mm" style="stroke:#555;stroke-width:1px;fill:#bbb;" /><!-- 备用孔道2 -->
									</svg>
									<svg>
										<title>注盐/排盐孔道</title>
										<circle id="pourDrain" cx="89.70mm" cy="60.64mm" r="2mm" style="stroke:black;stroke-width:3px;fill:white;" /><!-- 注盐/排盐孔道 -->
									</svg>
								</g>


								<g id="noteText" preserveAspectRatio="xMinYMin meet" viewBox="0 0 100 100" style="stroke:#555;">
									<text x="500" y="50" style="font-size:1.5em; text-anchor:start;">堆芯位置(50mm,50mm)</text>
									<text x="500" y="80" style="font-size:1.5em; text-anchor:start;">虚线圈半径：39,33,20,10 mm</text>
								</g>
								<g>
									<desc>辅助虚线圈</desc>
									<circle cx="50mm" cy="50mm" r="39mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" /><!-- 堆芯位置(50mm,50mm) -->
									<circle cx="50mm" cy="50mm" r="33mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="20mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="14mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
									<circle cx="50mm" cy="50mm" r="10mm" style="stroke:gray; stroke-dasharray:10,2; fill:none" />
								</g>
								<g>
									<desc>辅助标注</desc>
									<path d="m 136 243, -110 -47 m 0 0, -240 0" style="stroke:#333" /><!-- 加热棒束开孔15 -->
								</g>
							</svg>

						</svg>
					</div>

					<div class="span3">
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cogs"></i>
									Properties
								</div>
							</div>
							
							<div class="portlet-body" style="position:relative; background-color:aliceblue; height:1192px">
								<table class="table table-bordered table-striped" style="border: 0px solid #ddd;">
									<tbody>
										<tr>
											<label style="position:absolute; top:0.5em; left:0.5em; width:6em; height:1em; font-size:1.75em; color:#333"><strong>widgetName:</strong></label>
											<label style="position:absolute; top:0.5em; left:6.5em; width:8em; height:1em; font-size:1.75em; color:gray"> <strong>{{widgetName}}</strong></label>
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:2.5em; left:0.5em; width:4em; height:1em; font-size:1.5em; color:#333">pvName:</label>
											<input type="text" ng-model="tankName"  placeholder="pv变量名"  style="position:absolute; top:2.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:4.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">pvValue:</label>
											<input type="text" ng-model="tankValue" placeholder="注：液位=pvValue/(pvMax-pvMin)" style="position:absolute; top:5.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:6.5em; left:0.5em; width:4em; height:1em; font-size:1.5em; color:#333">pvMax:</label>
											<input type="text" ng-model="tankMax"  placeholder="刻度最大值"  style="position:absolute; top:7.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:8.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">pvMin:</label>
											<input type="text" ng-model="tankMin" placeholder="刻度最小值" style="position:absolute; top:10.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:10.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">heatHoleColor:</label>
											<input type="text" ng-model="heatHoleColor" placeholder="输入颜色，如red，#123，#123456" style="position:absolute; top:12.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:12.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">holeWidth:</label>
											<input type="text" ng-model="holeWidth" placeholder="控件宽度(px)" style="position:absolute; top:15.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:14.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">holeHeight:</label>
											<input type="text" ng-model="holeHeight" placeholder="控件高度(px)" style="position:absolute; top:17.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:16.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">holeXpos:</label>
											<input type="text" ng-model="holeXpos" placeholder="在画布X轴的坐标(左上角为(0,0)px)" style="position:absolute; top:20.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:18.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">holeYpos:</label>
											<input type="text" ng-model="holeYpos" placeholder="在画布Y轴的坐标(左上角为(0,0)px)" style="position:absolute; top:22.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

		
				</div>
	
			<!-- END PAGE CONTAINER-->
		
				</div>

		<!-- END PAGE -->    

			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
			
		
	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2017 &copy; TMSR 钍基熔盐堆核能系统.

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<!-- <script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<!-- <script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>       -->

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<!-- <script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script> -->

	<!-- <script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>   -->

	<!-- <script src="media/js/jquery.cookie.min.js" type="text/javascript"></script> -->

	<!-- <script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script> -->

	<!-- END CORE PLUGINS -->


	<script>
		var serverIP="10.10.33.102";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"may:ai1"},{pvname:"may:ai2"},{pvname:"may:ai3"},{pvname:"may:compressExample"}],
		    ao:[{pvname:"may:ao1"}, {pvname:"may:ao2"}, {pvname:"may:ao3"}]
		}

		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {   
			var myUrl = "http://47.100.41.42/epics_manual/manual?callback=JSON_CALLBACK";
			$http.jsonp(myUrl).success(function(response) {
				$scope.manual = response;
				// console.log("when");
				//     console.log(response);
			});		
		});
		app.controller('holeCtrl', function($scope) { 
			$scope.holeXpos="10";
			$scope.holeYpos="20";
			$scope.holeWidth=240; 
			$scope.holeHeight=240;
			$scope.heatHoleColor="red";


			$scope.widgetName="tank"; 
			$scope.tankName="pv0";
			$scope.tankValue=80;
			$scope.tankMax="200";
			$scope.tankMin="0";

			$scope.tankValue11=10;

			
		async.map(pvs.ai,function(item,callback){ 
			socket.on(item.pvname, function (data) {
				if(item.pvname == "may:ai1"){
					$scope.$apply(function(){  //手动出发脏检查。必须有这步才能自动通知angular的module和controller，$scope.tankValue发生变化了。详见腾讯课堂教程《$scope》节
						$scope.tankValue11=data*15+10;
					})
				}
				// console.log(item.pvname); 
				// console.log("data is "+data);
				// console.log("$scope.tankValue11 is "+$scope.tankValue11);
			 });
				
		  }, function(err,results){
		    callback(err,results); 
		   //  console.log(results);
		  });
		});
	</script>


<script src="js/jquery.min.js"></script>
<script src="js/system0.js"></script>

	<script>
		function load(){
			$(".manual").each(function () {
				var content = $(this).text();
				//  console.log(content);
				$(this).html(content);
				})
				// console.log("结束");	
			// window.status="Page is loaded"
		}
	</script>

	<script src="media/js/app.js"></script>      
	<script>
			function jump(){
				window.open("/comment/add",'','',true)
			}
	</script>
	
	<script>

		jQuery(document).ready(function() {  
			// console.log("开始");

			
		   App.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>

<!-- END BODY -->

</html>