<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title><%= title %></title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="stylesheets/widget_tank.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	
	<script src="js/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="bower_components/async/dist/async.js"></script> 
<!-- 
<script>
		var serverIP="210.72.8.90";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"hanlfHost:ai1"},{pvname:"hanlfHost:ai2"},{pvname:"hanlfHost:ai3"}],
         ao:[{pvname:"hanlfHost:ao1"}, {pvname:"hanlfHost:ao2"}, {pvname:"hanlfHost:ao3"}]
        }
		// console.log(pvs.ai);
       async.map(pvs.ai,function(item,callback){
          console.log(item.pvname);
          socket.on(item.pvname, function (data) {
            if(document.getElementById(item.pvname)){
             document.getElementById(item.pvname).innerHTML=data;
            }
               });
               
       }, function(err,results){
         callback(err,results); 
         console.log(results);
       });

</script> -->


</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed ng-scope page-sidebar-closed" ng-app="myApp" ng-controller="myCtrl" onload="load()">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-custom navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="/">

				<img src="media/image/logo.png" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN HORIZANTAL MENU -->

			

				<!-- END HORIZANTAL MENU -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					

				

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="media/image/avatar1_small.jpg" />

						<span class="username">user</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">
							<li><a href="/comment"><i class="icon-comment"></i>留言板</a></li>


						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid" >

		<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->

		<div class="page-sidebar nav-collapse collapse">

			<ul class="page-sidebar-menu hidden-phone hidden-tablet">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />            

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li  >

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title"><span>概述</span>

					<span class="selected "></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/system_structure">

							 	系统结构                    </a>

						</li>



						
						<li >
												
							<a href="/control_system">
												
								控制系统 </a>

								<!-- <ul class="sub-menu">

									<li >
			
										<a href="portlet_general.html">
			
											信号变量</a>
			
									</li>
								</ul> -->

												
						</li>

						
						<li >
						
							<a href="/epics_manual">
						
								安装配置 </a>
						
						</li>




					</ul>

				</li>

				<li class="active">

					<a href="javascript:;">

					<i class="icon-dashboard"></i> 

					<span class="title">监视控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/widget_tank">

								Tank</a>

						</li>

						<li >

							<a href="portlet_draggable.html">

							   Process Bar </a>

						</li>
						
						<li>
							<a href="widget_led.html">
												
						    	LED</a>
												
						</li>
												
						<li class="active">
												
							<a href="tank_thermometer_bar">
												
								Tank/Thermometer/Bar</a>
												
						</li>
						<li>
						
							<a href="portlet_draggable.html">
						
								Meter </a>
						
						</li>
						<li>
												
							<a href="portlet_draggable.html">
												
						 		Guage </a>
												
							</li>

					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">控制控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							TextInput                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							Vector Maps                   </a>

						</li>

					</ul>

				</li>

				<li >

					<a href="charts.html">

					<i class="icon-film"></i> 

					<span class="title">其它</span>

					</a>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">系统应用</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							智能监控                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							辐射监测                   </a>

						</li>
						<li >							
							<a href="system0">
							
							综合实验平台               </a>
							
						</li>
					</ul>

				</li>
				<li>
				
					<a href="/comment">
					
						<i class="icon-comment"></i>
					
						<span class="title">留言板</span>
						<span class="badge" style="background-color: #e02222;padding: 2px 6px 2px 6px;-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important; text-shadow: none !important" >new</span>

					</a>
				
				</li>
			</ul>

			<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->

			<ul class="page-sidebar-menu visible-phone visible-tablet">


				<li class="start active">

					<a href="/">

					概述

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

                         <ul class="sub-menu">
						<li >

							<a href="/system_structure">

							<i class="icon-cogs"></i> 

							<span class="title" >系统结构</span>

							<span class="arrow open"></span>

							</a>

						</li>
						<li>

							<a href="/control_system">
		
								<i class="icon-wrench"></i>
		
								<span class="title">控制系统</span>
		
								<span class="arrow open"></span>
		
							</a>
		
						</li>
						<li>
						
							<a href="/epics_manual">

								<i class="icon-wrench"></i> 
						
								<span class="title" >安装配置</span>

								<span class="arrow open"></span>
							
							</a>
						
						</li>
					</ul>
                    </li>
			</ul>

		</div>

		<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
		
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<div id="portlet-config" class="modal hide">
		
				<div class="modal-header">
		
					<button data-dismiss="modal" class="close" type="button"></button>
		
					<h3>portlet Settings</h3>
		
				</div>
		
				<div class="modal-body">
		
					<p>Here will be a configuration form</p>
		
				</div>
		
			</div>
		
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE CONTAINER-->
		
			<div class="container-fluid">
		
				<!-- BEGIN PAGE HEADER-->
		
				<div class="row-fluid">
		
					<div class="span12">
		
						<!-- BEGIN STYLE CUSTOMIZER -->
		
						<div class="color-panel hidden-phone">
		
							<div class="color-mode-icons icon-color"></div>
		
							<div class="color-mode-icons icon-color-close"></div>
		
							<div class="color-mode">
		
								<p>THEME COLOR</p>
		
								<ul class="inline">
		
									<li class="color-white color-light" data-style="light"></li>
		
								</ul>
		
								<label>
		
									<span>Layout</span>
		
									<select class="layout-option m-wrap small">
		
										<option value="fluid" selected>Fluid</option>
		
										<option value="boxed">Boxed</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Header</span>
		
									<select class="header-option m-wrap small">
		
										<option value="fixed" selected>Fixed</option>
		
										<option value="default">Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Sidebar</span>
		
									<select class="sidebar-option m-wrap small">
										<div class="span9" style="overflow:scroll;">
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Footer</span>
		
									<select class="footer-option m-wrap small">
		
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
							</div>
		
						</div>
		
						<!-- END BEGIN STYLE CUSTOMIZER -->
		
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		
						<h3 class="page-title">
		
							EPICS&nbsp控件
							<small>Examples</small>
		
						</h3>
		
						<ul class="breadcrumb">
		
							<li>
		
								<i class="icon-home"></i>
		
								<a href="/">Home</a>
		
								<i class="icon-angle-right"></i>
		
							</li>
		
							<li>
		
								<a href="/widget_tank">Tank/Thermometer/Bar</a>
		
							</li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				<div class="row-fluid tankContainer" ng-controller="tankCtrl">
					<div class="span8 thumbnail" style="overflow:hidden; height:662px; background-color:aliceblue;">
						<!-- <svg width="1202px" height="650px" xmlns="http://www.w3.org/2000/svg" style="background-color:aliceblue; overflow-x:scroll; overflow-y:scroll; border: 1px solid #b4cef8;"> -->
							<!-- <svg width="1202px" height="650px" xmlns="http://www.w3.org/2000/svg" style="border: 1px solid #b4cef8;"> -->
							<svg width="1202px" height="650px" xmlns="http://www.w3.org/2000/svg">
							<text x="30" y="28" font-size="16" font-family="Microsoft YaHei UI" fill="#666666" stroke="#666666" stroke-width="0.25">Tank、Thermometer、Progress Bar是用来表示数值的控件。</text>
							<g  id="Bars" transform="matrix(1,0,0,1,0,15)">
								<rect x="21" y="45" width="1160" height="240" rx="10" ry="10" fill="none" stroke="rgb(188,208,218)" stroke-width="0.8" stroke-dasharray="3 1.2"></rect>
								<!--小标题--><rect x="101" y="40" width="106" height="10" fill="aliceblue" stroke="none"></rect>
								<text x="108" y="49" font-size="14" font-family="Microsoft YaHei UI" fill="#888888" stroke="#888888" stroke-width="0.3">Progress Bar</text>
								<!--(1)left bar--><g id="bar1" transform="matrix(1,0,0,1,20,0)">
									<path d="M69.5 70h-6 m6 40h-6 m6 40h-6 m6 40h-6 m6 40h-6 m6 40h-6" fill="none" stroke="black" stroke-width="0.75" />
									<path d="M69.5 78h-3 m3 8h-3 m3 8h-3 m3 8h-3 M69.5 118h-3 m3 8h-3 m3 8h-3 m3 8h-3 M69.5 158h-3 m3 8h-3 m3 8h-3 m3 8h-3 M69.5 198h-3 m3 8h-3 m3 8h-3 m3 8h-3 M69.5 238h-3 m3 8h-3 m3 8h-3 m3 8h-3" fill="none" stroke="black" stroke-width="0.75" />
									<rect x="69.5" y="69.5" width="51" height="201" fill="#CCCCCC" stroke="black" stroke-width="0.75"></rect>
									<!--显示值的蓝色矩柱100=>200--><rect x="0" y="0" width="50" height="120" fill="rgb(244,135,76)" stroke="none" transform="translate(70,270) scale(1,-1)"></rect>
									<text x="35" y="75" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">100</text>
									<text x="40" y="115" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">80</text>
									<text x="40" y="155" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">60</text>
									<text x="40" y="195" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">40</text>
									<text x="40" y="235" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">20</text>
									<text x="45" y="275" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">0</text>
								</g>
								<!--(3)middle bar--><g id="bar3" transform="matrix(1,0,0,1,160,0)">
									<rect x="139.5" y="69.5" width="101" height="201" fill="rgb(197,236,217)" stroke="black" stroke-width="0.75"></rect>
									<!--显示值的紫色矩柱100=>200--><rect x="0" y="0" width="100" height="150" fill="rgb(154,113,204)" stroke="none" transform="translate(140,270) scale(1,-1)"></rect>
								</g>
								<!--(2)right bar--><g id="bar2" transform="matrix(1,0,0,1,-60,0)">
									<path d="M280.5 85h10 m-10 170h10" fill="none" stroke="rgb(255,0,0)" stroke-width="1" />
									<text x="293" y="88" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">HIHI</text>
									<text x="293" y="261" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">LOLO</text>
									<path d="M280.5 105h10 m-10 130h10" fill="none" stroke="rgb(246,136,46)" stroke-width="1" />
									<text x="293" y="110" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">HI</text>
									<text x="293" y="239" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">LO</text>
									<rect x="239.5" y="69.5" width="41" height="201" fill="rgb(255,232,199)" stroke="black" stroke-width="0.75"></rect>
									<!--显示值的蓝色矩柱100=>200--><rect x="0" y="0" width="40" height="100" fill="#1111ff" stroke="none" transform="translate(240,270) scale(1,-1)"></rect>
								</g>
								<!--(4)left bar--><g id="bar4" transform="matrix(1,0,0,1,-8,0)">
									<path d="M479.5 70h-6 m6 40h-6 m6 40h-6 m6 40h-6 m6 40h-6 m6 40h-6" fill="none" stroke="black" stroke-width="0.75" />
									<path d="M479.5 78h-3 m3 8h-3 m3 8h-3 m3 8h-3 M479.5 118h-3 m3 8h-3 m3 8h-3 m3 8h-3 M479.5 158h-3 m3 8h-3 m3 8h-3 m3 8h-3 M479.5 198h-3 m3 8h-3 m3 8h-3 m3 8h-3 M479.5 238h-3 m3 8h-3 m3 8h-3 m3 8h-3" fill="none" stroke="black" stroke-width="0.75" />
									<rect x="479.5" y="69.5" width="41" height="201" fill="rgb(248,236,204)" stroke="black" stroke-width="0.75"></rect>
									<!--显示值的蓝色矩柱100=>200--><rect x="0" y="0" width="40" height="60" fill="rgb(231,181,248)" stroke="none" transform="translate(480,270) scale(1,-1)"></rect>								
									<text x="445" y="75" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">100</text>
									<text x="450" y="115" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">80</text>
									<text x="450" y="155" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">60</text>
									<text x="450" y="195" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">40</text>
									<text x="450" y="235" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">20</text>
									<text x="455" y="275" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">0</text>
									<path d="M520.5 85h10 m-10 170h10" fill="none" stroke="rgb(255,0,0)" stroke-width="1" />
									<text x="533" y="88" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">HIHI</text>
									<text x="533" y="261" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">LOLO</text>
									<path d="M520.5 105h10 m-10 130h10" fill="none" stroke="rgb(246,136,46)" stroke-width="1" />
									<text x="533" y="110" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">HI</text>
									<text x="533" y="239" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">LO</text>
								</g>
								<!--(5)top bar--><g id="bar5">
									<!--报警外框--><rect x="600" y="70" width="550" height="90" fill="none" stroke="black" stroke-width="0.75"></rect>
									<path d="M620 131.5v-6 m100 6v-6 m100 6v-6 m100 6v-6 m100 6v-6 m100 6v-6" fill="none" stroke="black" stroke-width="0.75" />
									<path d="M640 128.5v-3 m20 3v-3 m20 3v-3 m20 3v-3 M740 128.5v-3 m20 3v-3 m20 3v-3 m20 3v-3 M840 128v-3 m20 3v-3 m20 3v-3 m20 3v-3 M940 128v-3 m20 3v-3 m20 3v-3 m20 3v-3 M1040 128v-3 m20 3v-3 m20 3v-3 m20 3v-3" fill="none" stroke="black" stroke-width="0.75" />
									<rect x="619.5" y="104.5" width="501" height="21" fill="#dddddd" stroke="black" stroke-width="0.75"></rect>
									<!--显示值的绿色矩柱100=>500--><rect x="620" y="105" width="300" height="20" fill="green" stroke="none"></rect>
									<text x="1108" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">100</text>
									<text x="1012" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">80</text>
									<text x="912" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">60</text>
									<text x="812" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">40</text>
									<text x="712" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">20</text>
									<text x="615" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">0</text>
									<path d="M655 104.5v-10 m430 10v-10" fill="none" stroke="rgb(255,0,0)"  stroke-width="1" />
									<text x="641" y="93" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">HIHI</text>
									<text x="1068" y="93" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">LOLO</text>
									<path d="M700 104.5v-10 m340 10v-10" fill="none" stroke="rgb(246,136,46)" stroke-width="1" />
									<text x="692" y="93" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">HI</text>
									<text x="1031" y="93" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">LO</text>
								</g>
								<!--(6)middle bar--><g id="bar6">
									<rect x="619.5" y="179.5" width="501" height="21" fill="rgb(200,235,244)" stroke="black" stroke-width="0.75"></rect>
									<!--显示值的紫色矩柱100=>500--><rect x="620" y="180" width="100" height="20" fill="rgb(107,50,128)" stroke="none"></rect>									
								</g>
								<!--(7)bottom bar--><g id="bar7" transform="matrix(1,0,0,1,0,125)">
									<path d="M620 131.5v-6 m100 6v-6 m100 6v-6 m100 6v-6 m100 6v-6 m100 6v-6" fill="none" stroke="black" stroke-width="0.75" />
									<path d="M640 128.5v-3 m20 3v-3 m20 3v-3 m20 3v-3 M740 128.5v-3 m20 3v-3 m20 3v-3 m20 3v-3 M840 128v-3 m20 3v-3 m20 3v-3 m20 3v-3 M940 128v-3 m20 3v-3 m20 3v-3 m20 3v-3 M1040 128v-3 m20 3v-3 m20 3v-3 m20 3v-3" fill="none" stroke="black" stroke-width="0.75" />
									<rect x="620" y="105" width="500" height="20" fill="rgb(245,242,199)" stroke="black" stroke-width="0.75"></rect>
									<text x="1108" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">100</text>
									<text x="1012" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">80</text>
									<text x="912" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">60</text>
									<text x="812" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">40</text>
									<text x="712" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">20</text>
									<text x="615" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">0</text>
									<!--显示值的游标100=>500--><polyline points="620 105, 626 115, 620 125, 614 115" fill="rgb(157,245,178)" stroke="#777777" stroke-width="0.5" transform="matrix(1,0,0,1,100,0)" />
								</g>
							</g>

							<g id="thermometers" transform="matrix(1,0,0,1,20,0)">
								<rect x="21" y="333" width="530" height="300" rx="10" ry="10" fill="none" stroke="rgb(188,208,218)" stroke-width="0.8" stroke-dasharray="3 1.2"></rect>
								<!--小标题--><rect x="101" y="328" width="106" height="10" fill="aliceblue" stroke="none"></rect>
								<text x="106" y="337" font-size="14" font-family="Microsoft YaHei UI" fill="#888888" stroke="#888888" stroke-width="0.3">Thermometer</text>
								<!--(1)left thermometer--><g id="thermometer1" transform="matrix(1,0,0,1,-10,0)">
									<circle cx="120" cy="575" r="21" fill="rgb(255,0,0)" stroke="black" stroke-width="1"></circle>
									<rect x="112" y="405.5835" rx="4" ry="4" width="16" height="150" fill="rgb(91,241,237)" stroke="black" stroke-width="1"></rect>
									<rect x="112" y="550.5835" width="16" height="5" fill="rgb(91,241,237)" stroke="black" stroke-width="1"></rect>
									<rect x="112.5" y="549.5835" width="15" height="2" fill="rgb(91,241,237)" stroke="none"></rect>
									<rect x="112.5" y="554.8" rx="4" ry="4" width="15" height="1.6" fill="rgb(255,0,0)" stroke="none"></rect>
									<g transform="translate(112.5,556.0835) scale(1,-1)">
										<!--显示值的红色矩柱100=>140--><rect x="0" y="0" width="15" height="100" fill="rgb(255,0,0)" stroke="none"></rect>
										<path d="M0 1h-7 m7 69h-7 m7 70h-7 M0 14h-4 m4 14h-4 m4 14h-4 m4 14h-4 M0 84h-4 m4 14h-4 m4 14h-4 m4 14h-4" fill="none" stroke="black" stroke-width="0.75" />
									</g>
									<text x="92" y="420" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="94" y="491" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">50</text>
									<text x="95" y="558" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">0</text>
									<!--圆圈里显示的数值--><text x="120" y="578" font-size="13" font-family="Microsoft YaHei UI" fill="#ffffff" stroke="#ffffff" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="105" y="393" font-size="16" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">°C</text>
									<path d="M128 544h10 m-10 -116h10" fill="none" stroke="rgb(255,0,0)" stroke-width="0.75"/>
									<text x="141" y="431" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">HIHI</text>
									<text x="141" y="550" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">LOLO</text>
									<path d="M128 535h10 m-10 -98h10" fill="none" stroke="rgb(246,136,46)" stroke-width="0.75" />
									<text x="141" y="444" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">HI</text>
									<text x="141" y="537" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">LO</text>
								</g>
								<!--(2) thermometer--><g id="thermometer2" transform="matrix(1,0,0,1,130,0)">
									<circle cx="120" cy="575" r="21" fill="rgb(255,56,56)" stroke="black" stroke-width="1"></circle>
									<rect x="112" y="405.5835" rx="4" ry="4" width="16" height="150" fill="rgb(230,230,230)" stroke="black" stroke-width="1"></rect>
									<rect x="112" y="550.5835" width="16" height="5" fill="rgb(230,230,230)" stroke="black" stroke-width="1"></rect>
									<rect x="112.5" y="549.5835" width="15" height="2" fill="rgb(230,230,230)" stroke="none" stroke-width="1"></rect>
									<rect x="112.5" y="554.8" rx="4" ry="4" width="15" height="1.6" fill="rgb(255,56,56)" stroke="none"></rect>
									<!--刻度位置的坐标计算参考下述注释内容--><g>
										<!--K值（圆圈中显示的值）对应的SVG纵坐标为：【556.0835-140/3*logK】 logK是以10为底的对数.刻度0.1,1,10,100这么算.-->
										<!--备注：556.0835是刻度最低点在SVG中的纵坐标，140是刻度总长度在SVG中占的纵坐标总长度，K是圆圈中显示的数值-->
										<!--显示值的红色矩柱100=>140--><rect x="0" y="0" width="15" height="78" fill="rgb(255,56,56)" stroke="none" transform="translate(112.5,556.0835) scale(1,-1)"></rect>
										<path d="M112 556.0835h-7 M112 509.4168h-7 M112 462.7502h-7 M112 416.0835h-7" fill="none" stroke="black" stroke-width="0.75" />
										<path d="M112 556.0835h-4 M112 542.03543h-4 M112 533.81788h-4 M112 527.98735h-4 M112 523.46488h-4 M112 519.76981h-4 M112 516.64547h-4 M112 513.93927h-4 M112 511.55227h-4" fill="none" stroke="black" stroke-width="0.75" />
										<path transform="translate(0,-46.6667)" d="M112 556.0835h-4 M112 542.03543h-4 M112 533.81788h-4 M112 527.98735h-4 M112 523.46488h-4 M112 519.76981h-4 M112 516.64547h-4 M112 513.93927h-4 M112 511.55227h-4" fill="none" stroke="black" stroke-width="0.75" />
										<path transform="translate(0,-93.3333)" d="M112 556.0835h-4 M112 542.03543h-4 M112 533.81788h-4 M112 527.98735h-4 M112 523.46488h-4 M112 519.76981h-4 M112 516.64547h-4 M112 513.93927h-4 M112 511.55227h-4" fill="none" stroke="black" stroke-width="0.75" />
									</g>
									<text x="92" y="420" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="94" y="464" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">10</text>
									<text x="95" y="511" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">1</text>
									<text x="92" y="558" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">0.1</text>
									<!--圆圈里显示的数值--><text x="120" y="578" font-size="13" font-family="Microsoft YaHei UI" fill="#ddffff" stroke="#ddffff" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="105" y="393" font-size="16" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">K</text>
								</g>
								<!--(3) thermometer--><g id="thermometer3" transform="matrix(1,0,0,1,240,0)">
									<circle cx="120" cy="575" r="21" fill="rgb(130,222,139)" stroke="black" stroke-width="1"></circle>
									<rect x="112" y="405.5835" rx="4" ry="4" width="16" height="150" fill="rgb(250,246,179)" stroke="black" stroke-width="1"></rect>
									<rect x="112" y="550.5835" width="16" height="5" fill="rgb(250,246,179)" stroke="black" stroke-width="1"></rect>
									<rect x="112.5" y="549.5835" width="15" height="2" fill="rgb(250,246,179)" stroke="none" stroke-width="1"></rect>
									<rect x="112.5" y="554.8" rx="4" ry="4" width="15" height="1.6" fill="rgb(130,222,139)" stroke="none"></rect>
									<g transform="translate(112.5,556.0835) scale(1,-1)">
										<!--显示值的红色矩柱100=>140--><rect x="0" y="0" width="15" height="78" fill="rgb(130,222,139)" stroke="none"></rect>
										<path d="M0 1h-7 m7 69h-7 m7 70h-7 M0 14h-4 m4 14h-4 m4 14h-4 m4 14h-4 M0 84h-4 m4 14h-4 m4 14h-4 m4 14h-4" fill="none" stroke="black" stroke-width="0.75" />
									</g>
									<text x="92" y="420" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="94" y="491" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">50</text>
									<text x="95" y="558" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">0</text>
									<!--圆圈里显示的数值--><text x="120" y="578" font-size="13" font-family="Microsoft YaHei UI" fill="rgb(22,41,168)" stroke="rgb(22,41,168)" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="105" y="393" font-size="16" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">℉</text>
								</g>
								<!--(4) thermometer--><g id="thermometer4" transform="matrix(1,0,0,1,-25,5)">
									<rect x="499.5" y="404.5" rx="4" ry="4" width="16" height="181" fill="rgb(255,254,184)" stroke="black" stroke-width="1"></rect>
									<g transform="translate(500,585) scale(1,-1)">
										<!--显示值的红色矩柱100=>180--><rect x="0" y="0" rx="4" ry="4" width="15" height="78" fill="rgb(255,56,56)" stroke="none"></rect>
										<path d="M0 0.5h-7 m7 36h-7 m7 36h-7 m7 36h-7 m7 36h-7 m7 35.5h-7 
										M0 7.2h-4 m4 7.2h-4 m4 7.2h-4 m4 7.2h-4 M0 43.2h-4 m4 7.2h-4 m4 7.2h-4 m4 7.2h-4 
										M0 79.2h-4 m4 7.2h-4 m4 7.2h-4 m4 7.2h-4 M0 115.2h-4 m4 7.2h-4 m4 7.2h-4 m4 7.2h-4 M0 151.2h-4 m4 7.2h-4 m4 7.2h-4 m4 7.2h-4" fill="none" stroke="black" stroke-width="0.75" />
									</g>
									<text x="479" y="410" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="482" y="446" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">80</text>
									<text x="482" y="482" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">60</text>
									<text x="482" y="518" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">40</text>
									<text x="482" y="554" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">20</text>
									<text x="482" y="589" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">0</text>
								</g>
							</g>

							<g id="tankControls" transform="matrix(1,0,0,1,610,0)">
								<rect x="11" y="333" width="540" height="300" rx="10" ry="10" fill="none" stroke="rgb(188,208,218)" stroke-width="0.8" stroke-dasharray="3 1.2"></rect>
								<!--小标题--><rect x="101" y="328" width="45" height="10" fill="aliceblue" stroke="none"></rect>
								<text x="106" y="337" font-size="14" font-family="Microsoft YaHei UI" fill="#888888" stroke="#888888" stroke-width="0.3">Tank</text>
								<!--(1)left tank--><g id="tankControl1" transform="matrix(1,0,0,1,0,0)">
									<rect x="45" y="368.5835" width="155" height="230" fill="none" stroke="black" stroke-width="0.75"></rect>
									<rect x="92" y="385.5835" rx="4" ry="4" width="56" height="200" fill="rgb(191,241,237)" stroke="black" stroke-width="1"></rect>
									<rect x="92.5" y="529.5835" width="55" height="2" fill="rgb(91,241,237)" stroke="none"></rect>
									<g transform="translate(92.5,586.0835) scale(1,-1)">
										<!--显示值的红色矩柱100=>200--><rect x="0" y="0" rx="4" ry="4" width="55" height="100" fill="rgb(211,54,47)" stroke="none"></rect>
										<path d="M1.5 1h-9 m7 99h-7 m9 100h-9 M-0.5 20h-4 m4 20h-4 m4 20h-4 m4 20h-4 M-0.5 120h-4 m4 20h-4 m4 20h-4 m4 20h-4" fill="none" stroke="black" stroke-width="0.75" />
									</g>
									<text x="72" y="391" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="74" y="491" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">50</text>
									<text x="78" y="590" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">0</text>
									<path d="M147.5 563h10 m-10 -154h10" fill="none" stroke="rgb(255,0,0)" stroke-width="0.75"/>
									<text x="160" y="414" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">HIHI</text>
									<text x="160" y="568" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">LOLO</text>
									<path d="M147.5 545h10 m-10 -118h10" fill="none" stroke="rgb(246,136,46)" stroke-width="0.75" />
									<text x="160" y="432" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">HI</text>
									<text x="160" y="550" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">LO</text>
								</g>
								<!--(2) tankControl--><g id="tankControl2" transform="matrix(1,0,0,1,182,30)">
									<rect x="112" y="355.5835" rx="4" ry="4" width="56" height="200" fill="rgb(250,250,230)" stroke="black" stroke-width="1"></rect>
									<!--刻度位置的坐标计算参考下述注释内容--><g>
										<!--K值（圆圈中显示的值）对应的SVG纵坐标为：【556.0835-140/3*logK】 logK是以10为底的对数.刻度0.1,1,10,100这么算.-->
										<!--备注：556.0835是刻度最低点在SVG中的纵坐标，140是刻度总长度在SVG中占的纵坐标总长度，K是圆圈中显示的数值-->
										<!--显示值的红色矩柱100=>140--><rect x="0" y="0" rx="4" ry="4" width="55" height="78" fill="rgb(55,56,230)" stroke="none" transform="translate(112.5,556.0835) scale(1,-1)"></rect>
										<path d="M114 555.0835h-8 M112 509.4168h-7 M112 462.7502h-7 M112 416.0835h-7 M112 369.4168h-7" fill="none" stroke="black" stroke-width="0.75" />
										<path d="M112 542.03543h-4 M112 533.81788h-4 M112 527.98735h-4 M112 523.46488h-4 M112 519.76981h-4 M112 516.64547h-4 M112 513.93927h-4 M112 511.55227h-4" fill="none" stroke="black" stroke-width="0.75" />
										<path transform="translate(0,-46.6667)" d="M112 542.03543h-4 M112 533.81788h-4 M112 527.98735h-4 M112 523.46488h-4 M112 519.76981h-4 M112 516.64547h-4 M112 513.93927h-4 M112 511.55227h-4" fill="none" stroke="black" stroke-width="0.75" />
										<path transform="translate(0,-93.3333)" d="M112 542.03543h-4 M112 533.81788h-4 M112 527.98735h-4 M112 523.46488h-4 M112 519.76981h-4 M112 516.64547h-4 M112 513.93927h-4 M112 511.55227h-4" fill="none" stroke="black" stroke-width="0.75" />
										<path transform="translate(0,-140)" d="M112 542.03543h-4 M112 533.81788h-4 M112 527.98735h-4 M112 523.46488h-4 M112 519.76981h-4 M112 516.64547h-4 M112 513.93927h-4 M112 511.55227h-4" fill="none" stroke="black" stroke-width="0.75" />
									</g>
									<text x="88" y="374" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">1000</text>
									<text x="90" y="421" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="90" y="467" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">10</text>
									<text x="89" y="514" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">1</text>
									<text x="90" y="559" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">0.1</text>
								</g>
								<!--(3) tankControl--><g id="tankControl3" transform="matrix(1,0,0,1,-50,-20)">
									<rect x="499.5" y="404.5" rx="4" ry="4" width="56" height="201" fill="rgb(255,254,184)" stroke="black" stroke-width="1"></rect>
									<g transform="translate(500,605) scale(1,-1)">
										<!--显示值的红色矩柱100=>200--><rect x="0" y="0" rx="4" ry="4" width="55" height="78" fill="rgb(255,56,56)" stroke="none"></rect>
										<path d="M2 0h-9 m7 40h-7 m7 40h-7 m7 40h-7 m7 40h-7 m9 40h-9 
										M0 8h-4 m4 8h-4 m4 8h-4 m4 8h-4 M0 48h-4 m4 8h-4 m4 8h-4 m4 8h-4 
										M0 88h-4 m4 8h-4 m4 8h-4 m4 8h-4 M0 128h-4 m4 8h-4 m4 8h-4 m4 8h-4 M0 168h-4 m4 8h-4 m4 8h-4 m4 8h-4" fill="none" stroke="black" stroke-width="0.75" />
									</g>
									<text x="479" y="410" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">100</text>
									<text x="482" y="446" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">80</text>
									<text x="482" y="482" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">60</text>
									<text x="482" y="518" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">40</text>
									<text x="482" y="554" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">20</text>
									<text x="482" y="589" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25" text-anchor="middle">0</text>
								</g>
							</g>
						</svg>
					</div>

					<div class="span4 thumbnail" style="height:662px; overflow:hidden; border-color:rgb(188,208,218);">
						<div class="portlet box blue" style="height:650px;">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cogs"></i>
									Properties
								</div>
							</div>
							
							<div class="portlet-body" style="position:relative; background-color:aliceblue; height:1192px">
								<table class="table table-bordered table-striped" style="border: 0px solid #ddd;">
									<tbody>
										<tr>
											<label style="position:absolute; top:0.5em; left:0.5em; width:6em; height:1em; font-size:1.75em; color:#333"><strong>widgetName:</strong></label>
											<label style="position:absolute; top:0.5em; left:6.5em; width:8em; height:1em; font-size:1.75em; color:gray"> <strong>{{widgetName}}</strong></label>
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:2.5em; left:0.5em; width:4em; height:1em; font-size:1.5em; color:#333">pvName:</label>
											<input type="text" ng-model="tankName"  placeholder="pv变量名"  style="position:absolute; top:2.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:4.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">pvValue:</label>
											<input type="text" ng-model="tankValue" placeholder="注：液位=pvValue/(pvMax-pvMin)" style="position:absolute; top:5.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:6.5em; left:0.5em; width:4em; height:1em; font-size:1.5em; color:#333">pvMax:</label>
											<input type="text" ng-model="tankMax"  placeholder="刻度最大值"  style="position:absolute; top:7.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:8.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">pvMin:</label>
											<input type="text" ng-model="tankMin" placeholder="刻度最小值" style="position:absolute; top:10.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:10.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankColor:</label>
											<input type="text" ng-model="tankColor" placeholder="输入颜色，如red，#123，#123456" style="position:absolute; top:12.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:12.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankWidth:</label>
											<input type="text" ng-model="tankWidth" placeholder="控件宽度(px)" style="position:absolute; top:15.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:14.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankHeight:</label>
											<input type="text" ng-model="tankHeight" placeholder="控件高度(px)" style="position:absolute; top:17.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:16.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankXpos:</label>
											<input type="text" ng-model="tankXpos" placeholder="在画布X轴的坐标(左上角为(0,0)px)" style="position:absolute; top:20.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:18.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankYpos:</label>
											<input type="text" ng-model="tankYpos" placeholder="在画布Y轴的坐标(左上角为(0,0)px)" style="position:absolute; top:22.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:20.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">level HIHI:</label>
											<input type="text" ng-model="tankHIHI" placeholder="level HIHI" style="position:absolute; top:25.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:22.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">level HI:</label>
											<input type="text" ng-model="tankHI" placeholder="level HIHI" style="position:absolute; top:27.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:24.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">level LO:</label>
											<input type="text" ng-model="tankLO" placeholder="level HIHI" style="position:absolute; top:30.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:26.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">level LOLO:</label>
											<input type="text" ng-model="tankLOLO" placeholder="level HIHI" style="position:absolute; top:32.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

		
				</div>
	
			<!-- END PAGE CONTAINER-->
		
				</div>

		<!-- END PAGE -->    

			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
			
		
	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2017 &copy; TMSR 钍基熔盐堆核能系统.

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<!-- <script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<!-- <script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>       -->

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<!-- <script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script> -->

	<!-- <script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>   -->

	<!-- <script src="media/js/jquery.cookie.min.js" type="text/javascript"></script> -->

	<!-- <script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script> -->

	<!-- END CORE PLUGINS -->

	<script>
		document.getElementById("bodybox").style.width=(window.innerWidth-siderboxW).toString()+"px";
		document.getElementById("bodybox").style.height=(window.innerHeight).toString()+"px";
		// var siderboxW=document.getElementById("siderbox").clientWidth;
		// var bodyboxW=document.getElementById("bodybox").clientWidth;
		// var bodyboxH=document.getElementById("bodybox").clientHeight;
		// var screenContainerW=document.getElementById("screenContainer").clientWidth;
		// var screenContainerH=document.getElementById("screenContainer").clientHeight;
		// // console.log("inW:"+window.innerWidth+"\n inH:"+window.innerHeight);
		// // console.log("bodyW:"+bodyboxW+"\n bodyH:"+bodyboxH);
		// var svgboxE=document.querySelector('#svgbox');
		// var matrixStrH="matrix("+window.innerHeight/860+",0,0,"+window.innerHeight/860+",-"+(1-window.innerHeight/860)*1920/2+",-"+(1-window.innerHeight/860)*860/2+")";  //an h suan
		// var matrixStrW="matrix("+(window.innerWidth)/1920+",0,0,"+(window.innerWidth)/1920+",-"+(1-window.innerWidth/1920)*1920/2+",-"+(1-window.innerWidth/1920)*860/2+")";  //an w suan
		// if (window.innerWidth/window.innerHeight>1920/860) {//an h suan
		// 	svgboxE.setAttribute('transform',matrixStrH);
		// 	document.getElementById("screenContainer").style.left=((bodyboxW-window.innerHeight/860*screenContainerW)/2).toString()+"px";
		// 	// console.log("an h suan: "+matrixStrH);
		// } else if (window.innerWidth/window.innerHeight<1920/860) {//an w suan
		// 	svgboxE.setAttribute('transform',matrixStrW);
		// 	// document.getElementById("screenContainer").style.top=((bodyboxH-window.innerWidth/1920*screenContainerH)/2).toString()+"px";
		// 	// console.log("an w suan: "+matrixStrW);
		// }
	</script>

	<script>
		var serverIP="10.10.33.102";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"may:ai1"},{pvname:"may:ai2"},{pvname:"may:ai3"},{pvname:"may:compressExample"}],
		    ao:[{pvname:"may:ao1"}, {pvname:"may:ao2"}, {pvname:"may:ao3"}]
		}

		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {   
			var myUrl = "http://47.100.41.42/epics_manual/manual?callback=JSON_CALLBACK";
			$http.jsonp(myUrl).success(function(response) {
				$scope.manual = response;
				// console.log("when");
				//     console.log(response);
			});		
		});
		app.controller('tankCtrl', function($scope) { 
			$scope.widgetName="tank"; 
			$scope.tankName="pv0";
			$scope.tankValue=80;
			$scope.tankWidth=160; 
			$scope.tankHeight=200;
			$scope.tankXpos="260";
			$scope.tankYpos="75";
			$scope.tankColor="orange";
			$scope.tankMax="200";
			$scope.tankMin="0";
			$scope.tankHIHI=180;
			$scope.tankHI=170;
			$scope.tankLO=30;
			$scope.tankLOLO=20;

			$scope.tankValue11=10;

			
		async.map(pvs.ai,function(item,callback){ 
			socket.on(item.pvname, function (data) {
				if(item.pvname == "may:ai1"){
					$scope.$apply(function(){  //手动出发脏检查。必须有这步才能自动通知angular的module和controller，$scope.tankValue发生变化了。详见腾讯课堂教程《$scope》节
						$scope.tankValue11=data*15+10;
					})
				}
				// console.log(item.pvname); 
				// console.log("data is "+data);
				// console.log("$scope.tankValue11 is "+$scope.tankValue11);
			 });
				
		  }, function(err,results){
		    callback(err,results); 
		   //  console.log(results);
		  });
		});
	</script>


<script src="js/jquery.min.js"></script>
<script src="js/tank1.js"></script>

	<script>
		function load(){
			$(".manual").each(function () {
				var content = $(this).text();
				//  console.log(content);
				$(this).html(content);
				})
				// console.log("结束");	
			// window.status="Page is loaded"
		}
	</script>

	<script src="media/js/app.js"></script>      
	<script>
			function jump(){
				window.open("/comment/add",'','',true)
			}
	</script>
	
	<script>

		jQuery(document).ready(function() {  
			// console.log("开始");

			
		   App.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>

<!-- END BODY -->

</html>