<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title><%= title %></title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="stylesheets/widget_tank.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	
	<script src="js/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="bower_components/async/dist/async.js"></script> 
<!-- 
<script>
		var serverIP="210.72.8.90";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"hanlfHost:ai1"},{pvname:"hanlfHost:ai2"},{pvname:"hanlfHost:ai3"}],
         ao:[{pvname:"hanlfHost:ao1"}, {pvname:"hanlfHost:ao2"}, {pvname:"hanlfHost:ao3"}]
        }
		// console.log(pvs.ai);
       async.map(pvs.ai,function(item,callback){
          console.log(item.pvname);
          socket.on(item.pvname, function (data) {
            if(document.getElementById(item.pvname)){
             document.getElementById(item.pvname).innerHTML=data;
            }
               });
               
       }, function(err,results){
         callback(err,results); 
         console.log(results);
       });

</script> -->


</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed ng-scope page-sidebar-closed" ng-app="myApp" ng-controller="myCtrl" onload="load()">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-custom navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="/">

				<img src="media/image/logo.png" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN HORIZANTAL MENU -->

			

				<!-- END HORIZANTAL MENU -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					

				

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="media/image/avatar1_small.jpg" />

						<span class="username">user</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">
							<li><a href="/comment"><i class="icon-comment"></i>留言板</a></li>


						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid" >

		<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->

		<div class="page-sidebar nav-collapse collapse">

			<ul class="page-sidebar-menu hidden-phone hidden-tablet">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />            

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li  >

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title"><span>概述</span>

					<span class="selected "></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/system_structure">

							 	系统结构                    </a>

						</li>



						
						<li >
												
							<a href="/control_system">
												
								控制系统 </a>

								<!-- <ul class="sub-menu">

									<li >
			
										<a href="portlet_general.html">
			
											信号变量</a>
			
									</li>
								</ul> -->

												
						</li>

						
						<li >
						
							<a href="/epics_manual">
						
								安装配置 </a>
						
						</li>




					</ul>

				</li>

				<li class="active">

					<a href="javascript:;">

					<i class="icon-dashboard"></i> 

					<span class="title">监视控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/widget_tank">

								Tank</a>

						</li>

						<li >

							<a href="portlet_draggable.html">

							   Process Bar </a>

						</li>
						
						<li>
							<a href="widget_led.html">
												
						    	LED</a>
												
						</li>
												
						<li class="active">
												
							<a href="tank_thermometer_bar">
												
								Tank/Thermometer/Bar</a>
												
						</li>
						<li>
						
							<a href="portlet_draggable.html">
						
								Meter </a>
						
						</li>
						<li>
												
							<a href="portlet_draggable.html">
												
						 		Guage </a>
												
							</li>

					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">控制控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							TextInput                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							Vector Maps                   </a>

						</li>

					</ul>

				</li>

				<li >

					<a href="charts.html">

					<i class="icon-film"></i> 

					<span class="title">其它</span>

					</a>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">系统应用</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							智能监控                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							辐射监测                   </a>

						</li>
						<li >							
							<a href="system0">
							
							综合实验平台               </a>
							
						</li>
					</ul>

				</li>
				<li>
				
					<a href="/comment">
					
						<i class="icon-comment"></i>
					
						<span class="title">留言板</span>
						<span class="badge" style="background-color: #e02222;padding: 2px 6px 2px 6px;-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important; text-shadow: none !important" >new</span>

					</a>
				
				</li>
			</ul>

			<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->

			<ul class="page-sidebar-menu visible-phone visible-tablet">


				<li class="start active">

					<a href="/">

					概述

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

                         <ul class="sub-menu">
						<li >

							<a href="/system_structure">

							<i class="icon-cogs"></i> 

							<span class="title" >系统结构</span>

							<span class="arrow open"></span>

							</a>

						</li>
						<li>

							<a href="/control_system">
		
								<i class="icon-wrench"></i>
		
								<span class="title">控制系统</span>
		
								<span class="arrow open"></span>
		
							</a>
		
						</li>
						<li>
						
							<a href="/epics_manual">

								<i class="icon-wrench"></i> 
						
								<span class="title" >安装配置</span>

								<span class="arrow open"></span>
							
							</a>
						
						</li>
					</ul>
                    </li>
			</ul>

		</div>

		<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
		
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<div id="portlet-config" class="modal hide">
		
				<div class="modal-header">
		
					<button data-dismiss="modal" class="close" type="button"></button>
		
					<h3>portlet Settings</h3>
		
				</div>
		
				<div class="modal-body">
		
					<p>Here will be a configuration form</p>
		
				</div>
		
			</div>
		
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE CONTAINER-->
		
			<div class="container-fluid">
		
				<!-- BEGIN PAGE HEADER-->
		
				<div class="row-fluid">
		
					<div class="span12">
		
						<!-- BEGIN STYLE CUSTOMIZER -->
		
						<div class="color-panel hidden-phone">
		
							<div class="color-mode-icons icon-color"></div>
		
							<div class="color-mode-icons icon-color-close"></div>
		
							<div class="color-mode">
		
								<p>THEME COLOR</p>
		
								<ul class="inline">
		
									<li class="color-white color-light" data-style="light"></li>
		
								</ul>
		
								<label>
		
									<span>Layout</span>
		
									<select class="layout-option m-wrap small">
		
										<option value="fluid" selected>Fluid</option>
		
										<option value="boxed">Boxed</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Header</span>
		
									<select class="header-option m-wrap small">
		
										<option value="fixed" selected>Fixed</option>
		
										<option value="default">Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Sidebar</span>
		
									<select class="sidebar-option m-wrap small">
										<div class="span9" style="overflow:scroll;">
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Footer</span>
		
									<select class="footer-option m-wrap small">
		
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
							</div>
		
						</div>
		
						<!-- END BEGIN STYLE CUSTOMIZER -->
		
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		
						<h3 class="page-title">
		
							EPICS&nbsp控件
							<small>Examples</small>
		
						</h3>
		
						<ul class="breadcrumb">
		
							<li>
		
								<i class="icon-home"></i>
		
								<a href="/">Home</a>
		
								<i class="icon-angle-right"></i>
		
							</li>
		
							<li>
		
								<a href="/widget_tank">Tank/Thermometer/Bar</a>
		
							</li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				<div class="row-fluid tankContainer" ng-controller="tankCtrl">
					<div class="span8 thumbnail" style="overflow:hidden; height:662px; background-color:aliceblue;">
						<!-- <svg width="1202px" height="650px" xmlns="http://www.w3.org/2000/svg" style="background-color:aliceblue; overflow-x:scroll; overflow-y:scroll; border: 1px solid #b4cef8;"> -->
							<!-- <svg width="1202px" height="650px" xmlns="http://www.w3.org/2000/svg" style="border: 1px solid #b4cef8;"> -->
							<svg width="1202px" height="650px" xmlns="http://www.w3.org/2000/svg">
							<text x="30" y="28" font-size="16" font-family="Microsoft YaHei UI" fill="#666666" stroke="#666666" stroke-width="0.25">Tank、Thermometer、Bar是用来表示数值的控件。</text>
							<g  id="Bars">
								<rect x="21" y="50" width="1160" height="240" rx="10" ry="10" fill="none" stroke="rgb(188,208,218)" stroke-width="0.8" stroke-dasharray="3 1.2"></rect>
								<!--(1)left bar--><g id="bar1" transform="matrix(1,0,0,1,20,0)">
									<path d="M70 70h-6 m6 40h-6 m6 40h-6 m6 40h-6 m6 40h-6 m6 40h-6" fill="none" stroke="black" stroke-width="0.5" />
									<path d="M70 78h-3 m3 8h-3 m3 8h-3 m3 8h-3 M70 118h-3 m3 8h-3 m3 8h-3 m3 8h-3 M70 158h-3 m3 8h-3 m3 8h-3 m3 8h-3 M70 198h-3 m3 8h-3 m3 8h-3 m3 8h-3 M70 238h-3 m3 8h-3 m3 8h-3 m3 8h-3" fill="none" stroke="black" stroke-width="0.5" />
									<rect x="70" y="70" width="50" height="200" fill="#CCCCCC" stroke="black" stroke-width="0.25"></rect>
									<text x="35" y="75" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">100</text>
									<text x="40" y="115" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">80</text>
									<text x="40" y="155" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">60</text>
									<text x="40" y="195" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">40</text>
									<text x="40" y="235" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">20</text>
									<text x="45" y="275" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">0</text>
								</g>
								<!--(2)middle bar--><g id="bar2" transform="matrix(1,0,0,1,40,0)">
									<rect x="140" y="70" width="100" height="200" fill="rgb(189,220,168)" stroke="black" stroke-width="0.25"></rect>
								</g>
								<!--(3)right bar--><g id="bar3" transform="matrix(1,0,0,1,80,0)">
									<path d="M280 85h10 m-10 170h10" fill="none" stroke="rgb(255,0,0)" stroke-width="0.75" />
									<text x="293" y="88" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">HIHI</text>
									<text x="293" y="261" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="0.25">LOLO</text>
									<path d="M280 105h10 m-10 130h10" fill="none" stroke="rgb(246,136,46)" stroke-width="0.75" />
									<text x="293" y="110" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">HI</text>
									<text x="293" y="239" font-size="12" font-family="Microsoft YaHei UI" fill="rgb(246,136,46)" stroke="rgb(246,136,46)" stroke-width="0.25">LO</text>
									<rect x="240" y="70" width="40" height="200" fill="rgb(255,232,159)" stroke="black" stroke-width="0.25"></rect>
								</g>

								<rect x="480" y="70" width="650" height="90" fill="none" stroke="black" stroke-width="0.25"></rect>
								<path d="M500 131v-6 m120 6v-6 m120 6v-6 m120 6v-6 m120 6v-6 m120 6v-6" fill="none" stroke="black" stroke-width="0.5" />
								<path d="M524 128v-3 m24 3v-3 m24 3v-3 m24 3v-3 M644 128v-3 m24 3v-3 m24 3v-3 m24 3v-3 M764 128v-3 m24 3v-3 m24 3v-3 m24 3v-3 M884 128v-3 m24 3v-3 m24 3v-3 m24 3v-3 M1004 128v-3 m24 3v-3 m24 3v-3 m24 3v-3" fill="none" stroke="black" stroke-width="0.5" />
								<rect x="500" y="105" width="600" height="20" fill="#dddddd" stroke="black" stroke-width="0.25"></rect>
								<text x="1088" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">100</text>
								<text x="972" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">80</text>
								<text x="842" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">60</text>
								<text x="732" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">40</text>
								<text x="612" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">20</text>
								<text x="495" y="145" font-size="12" font-family="Microsoft YaHei UI" fill="#333333" stroke="#333333" stroke-width="0.25">0</text>
							</g>
						</svg>
					</div>

					<div class="span4 thumbnail" style="height:662px; overflow:hidden; border-color:rgb(188,208,218);">
						<div class="portlet box blue" style="height:650px;">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-cogs"></i>
									Properties
								</div>
							</div>
							
							<div class="portlet-body" style="position:relative; background-color:aliceblue; height:1192px">
								<table class="table table-bordered table-striped" style="border: 0px solid #ddd;">
									<tbody>
										<tr>
											<label style="position:absolute; top:0.5em; left:0.5em; width:6em; height:1em; font-size:1.75em; color:#333"><strong>widgetName:</strong></label>
											<label style="position:absolute; top:0.5em; left:6.5em; width:8em; height:1em; font-size:1.75em; color:gray"> <strong>{{widgetName}}</strong></label>
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:2.5em; left:0.5em; width:4em; height:1em; font-size:1.5em; color:#333">pvName:</label>
											<input type="text" ng-model="tankName"  placeholder="pv变量名"  style="position:absolute; top:2.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:4.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">pvValue:</label>
											<input type="text" ng-model="tankValue" placeholder="注：液位=pvValue/(pvMax-pvMin)" style="position:absolute; top:5.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:6.5em; left:0.5em; width:4em; height:1em; font-size:1.5em; color:#333">pvMax:</label>
											<input type="text" ng-model="tankMax"  placeholder="刻度最大值"  style="position:absolute; top:7.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:8.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">pvMin:</label>
											<input type="text" ng-model="tankMin" placeholder="刻度最小值" style="position:absolute; top:10.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:10.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankColor:</label>
											<input type="text" ng-model="tankColor" placeholder="输入颜色，如red，#123，#123456" style="position:absolute; top:12.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:12.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankWidth:</label>
											<input type="text" ng-model="tankWidth" placeholder="控件宽度(px)" style="position:absolute; top:15.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:14.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankHeight:</label>
											<input type="text" ng-model="tankHeight" placeholder="控件高度(px)" style="position:absolute; top:17.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:16.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankXpos:</label>
											<input type="text" ng-model="tankXpos" placeholder="在画布X轴的坐标(左上角为(0,0)px)" style="position:absolute; top:20.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:18.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">tankYpos:</label>
											<input type="text" ng-model="tankYpos" placeholder="在画布Y轴的坐标(左上角为(0,0)px)" style="position:absolute; top:22.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:20.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">level HIHI:</label>
											<input type="text" ng-model="tankHIHI" placeholder="level HIHI" style="position:absolute; top:25.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:22.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">level HI:</label>
											<input type="text" ng-model="tankHI" placeholder="level HIHI" style="position:absolute; top:27.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:24.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">level LO:</label>
											<input type="text" ng-model="tankLO" placeholder="level HIHI" style="position:absolute; top:30.25em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
										<tr>
											<label style="position:absolute; top:26.5em; left:0.5em; width:5em; height:1em; font-size:1.5em; color:#333">level LOLO:</label>
											<input type="text" ng-model="tankLOLO" placeholder="level HIHI" style="position:absolute; top:32.75em; left:6.8em; width:15em; height:1.3em; font-size:1.2em; color:gray" />
											<br />
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

		
				</div>
	
			<!-- END PAGE CONTAINER-->
		
				</div>

		<!-- END PAGE -->    

			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
			
		
	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2017 &copy; TMSR 钍基熔盐堆核能系统.

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<!-- <script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<!-- <script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>       -->

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   

	<!-- <script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script> -->

	<!-- <script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>   -->

	<!-- <script src="media/js/jquery.cookie.min.js" type="text/javascript"></script> -->

	<!-- <script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script> -->

	<!-- END CORE PLUGINS -->

	<script>
		document.getElementById("bodybox").style.width=(window.innerWidth-siderboxW).toString()+"px";
		document.getElementById("bodybox").style.height=(window.innerHeight).toString()+"px";
		// var siderboxW=document.getElementById("siderbox").clientWidth;
		// var bodyboxW=document.getElementById("bodybox").clientWidth;
		// var bodyboxH=document.getElementById("bodybox").clientHeight;
		// var screenContainerW=document.getElementById("screenContainer").clientWidth;
		// var screenContainerH=document.getElementById("screenContainer").clientHeight;
		// // console.log("inW:"+window.innerWidth+"\n inH:"+window.innerHeight);
		// // console.log("bodyW:"+bodyboxW+"\n bodyH:"+bodyboxH);
		// var svgboxE=document.querySelector('#svgbox');
		// var matrixStrH="matrix("+window.innerHeight/860+",0,0,"+window.innerHeight/860+",-"+(1-window.innerHeight/860)*1920/2+",-"+(1-window.innerHeight/860)*860/2+")";  //an h suan
		// var matrixStrW="matrix("+(window.innerWidth)/1920+",0,0,"+(window.innerWidth)/1920+",-"+(1-window.innerWidth/1920)*1920/2+",-"+(1-window.innerWidth/1920)*860/2+")";  //an w suan
		// if (window.innerWidth/window.innerHeight>1920/860) {//an h suan
		// 	svgboxE.setAttribute('transform',matrixStrH);
		// 	document.getElementById("screenContainer").style.left=((bodyboxW-window.innerHeight/860*screenContainerW)/2).toString()+"px";
		// 	// console.log("an h suan: "+matrixStrH);
		// } else if (window.innerWidth/window.innerHeight<1920/860) {//an w suan
		// 	svgboxE.setAttribute('transform',matrixStrW);
		// 	// document.getElementById("screenContainer").style.top=((bodyboxH-window.innerWidth/1920*screenContainerH)/2).toString()+"px";
		// 	// console.log("an w suan: "+matrixStrW);
		// }
	</script>

	<script>
		var serverIP="10.10.33.102";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"may:ai1"},{pvname:"may:ai2"},{pvname:"may:ai3"},{pvname:"may:compressExample"}],
		    ao:[{pvname:"may:ao1"}, {pvname:"may:ao2"}, {pvname:"may:ao3"}]
		}

		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {   
			var myUrl = "http://47.100.41.42/epics_manual/manual?callback=JSON_CALLBACK";
			$http.jsonp(myUrl).success(function(response) {
				$scope.manual = response;
				// console.log("when");
				//     console.log(response);
			});		
		});
		app.controller('tankCtrl', function($scope) { 
			$scope.widgetName="tank"; 
			$scope.tankName="pv0";
			$scope.tankValue=80;
			$scope.tankWidth=160; 
			$scope.tankHeight=200;
			$scope.tankXpos="260";
			$scope.tankYpos="75";
			$scope.tankColor="orange";
			$scope.tankMax="200";
			$scope.tankMin="0";
			$scope.tankHIHI=180;
			$scope.tankHI=170;
			$scope.tankLO=30;
			$scope.tankLOLO=20;

			$scope.tankValue11=10;

			
		async.map(pvs.ai,function(item,callback){ 
			socket.on(item.pvname, function (data) {
				if(item.pvname == "may:ai1"){
					$scope.$apply(function(){  //手动出发脏检查。必须有这步才能自动通知angular的module和controller，$scope.tankValue发生变化了。详见腾讯课堂教程《$scope》节
						$scope.tankValue11=data*15+10;
					})
				}
				// console.log(item.pvname); 
				// console.log("data is "+data);
				// console.log("$scope.tankValue11 is "+$scope.tankValue11);
			 });
				
		  }, function(err,results){
		    callback(err,results); 
		   //  console.log(results);
		  });
		});
	</script>


<script src="js/jquery.min.js"></script>
<script src="js/tank1.js"></script>

	<script>
		function load(){
			$(".manual").each(function () {
				var content = $(this).text();
				//  console.log(content);
				$(this).html(content);
				})
				// console.log("结束");	
			// window.status="Page is loaded"
		}
	</script>

	<script src="media/js/app.js"></script>      
	<script>
			function jump(){
				window.open("/comment/add",'','',true)
			}
	</script>
	
	<script>

		jQuery(document).ready(function() {  
			// console.log("开始");

			
		   App.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>

<!-- END BODY -->

</html>