<!DOCTYPE html>
<html lang="en">

<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="stylesheets/widget_tank.css" rel="stylesheet" type="text/css"/>
	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />
	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="js/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="bower_components/async/dist/async.js"></script> 

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed ng-scope page-sidebar-closed" ng-app="myApp" onload="load()">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-custom navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="/">

				<img src="media/image/logo.png" alt="logo" />

				</a>
				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="media/image/avatar1_small.jpg" />

						<span class="username">user</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">
							<li><a href="/comment"><i class="icon-comment"></i>留言板</a></li>

						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid" >

		<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->

		<div class="page-sidebar nav-collapse collapse">

			<ul class="page-sidebar-menu hidden-phone hidden-tablet">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />            

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li  >

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title"><span>概述</span>

					<span class="selected "></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/system_structure">

							 	系统结构                    </a>

						</li>
						<li >
												
							<a href="/control_system">
												
								控制系统 </a>				
						</li>

						
						<li >
						
							<a href="/epics_manual">
						
								安装配置 </a>
						
						</li>
					</ul>

				</li>

				<li class="active">

					<a href="javascript:;">

					<i class="icon-dashboard"></i> 

					<span class="title">监视控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/widget_tank">

								Tank</a>

						</li>

						<li >

							<a href="portlet_draggable.html">

							   Process Bar </a>

						</li>
						
						<li class="active">
							<a href="widget_led">
												
						    	LED</a>
												
						</li>
												
						<li>
												
							<a href="widget_tank_thermometer_bar">
												
								Tank/Thermometer/Bar</a>
												
						</li>
						<li>
						
							<a href="portlet_draggable.html">
						
								Meter </a>
						
						</li>
						<li>
												
							<a href="portlet_draggable.html">
												
						 		Guage </a>
												
							</li>

					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">控制控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							TextInput                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							Vector Maps                   </a>

						</li>

					</ul>

				</li>

				<li >

					<a href="charts.html">

					<i class="icon-film"></i> 

					<span class="title">其它</span>

					</a>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">系统应用</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							智能监控                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							辐射监测                   </a>

						</li>
						<li >							
							<a href="system0">
							
							综合实验平台               </a>
							
						</li>
					</ul>

				</li>
				<li>
				
					<a href="/comment">
					
						<i class="icon-comment"></i>
					
						<span class="title">留言板</span>
						<span class="badge" style="background-color: #e02222;padding: 2px 6px 2px 6px;-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important; text-shadow: none !important" >new</span>

					</a>
				
				</li>
			</ul>

			<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->

			<ul class="page-sidebar-menu visible-phone visible-tablet">


				<li class="start active">

					<a href="/">

					概述

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

                         <ul class="sub-menu">
						<li >

							<a href="/system_structure">

							<i class="icon-cogs"></i> 

							<span class="title" >系统结构</span>

							<span class="arrow open"></span>

							</a>

						</li>
						<li>

							<a href="/control_system">
		
								<i class="icon-wrench"></i>
		
								<span class="title">控制系统</span>
		
								<span class="arrow open"></span>
		
							</a>
		
						</li>
						<li>
						
							<a href="/epics_manual">

								<i class="icon-wrench"></i> 
						
								<span class="title" >安装配置</span>

								<span class="arrow open"></span>
							
							</a>
						
						</li>
					</ul>
                    </li>
			</ul>

		</div>

		<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
		
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<div id="portlet-config" class="modal hide">
		
				<div class="modal-header">
		
					<button data-dismiss="modal" class="close" type="button"></button>
		
					<h3>portlet Settings</h3>
		
				</div>
		
				<div class="modal-body">
		
					<p>Here will be a configuration form</p>
		
				</div>
		
			</div>
		
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE CONTAINER-->
		
			<div class="container-fluid">
		
				<!-- BEGIN PAGE HEADER-->
		
				<div class="row-fluid">
		
					<div class="span12">
		
						<!-- BEGIN STYLE CUSTOMIZER -->
		
						<div class="color-panel hidden-phone">
		
							<div class="color-mode-icons icon-color"></div>
		
							<div class="color-mode-icons icon-color-close"></div>
		
							<div class="color-mode">
		
								<p>THEME COLOR</p>
		
								<ul class="inline">
		
									<li class="color-white color-light" data-style="light"></li>
		
								</ul>
		
								<label>
		
									<span>Layout</span>
		
									<select class="layout-option m-wrap small">
		
										<option value="fluid" selected>Fluid</option>
		
										<option value="boxed">Boxed</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Header</span>
		
									<select class="header-option m-wrap small">
		
										<option value="fixed" selected>Fixed</option>
		
										<option value="default">Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Sidebar</span>
		
									<select class="sidebar-option m-wrap small">
										<div class="span9" style="overflow:scroll;">
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Footer</span>
		
									<select class="footer-option m-wrap small">
		
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
							</div>
		
						</div>
		
						<!-- END BEGIN STYLE CUSTOMIZER -->
		
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		
						<h3 class="page-title">
		
							EPICS&nbsp控件
							<small>Examples</small>
		
						</h3>
		
						<ul class="breadcrumb">
		
							<li>
		
								<i class="icon-home"></i>
		
								<a href="/">Home</a>
		
								<i class="icon-angle-right"></i>
		
							</li>
		
							<li>
		
								<a href="/widget_tank">Tank/Thermometer/Bar</a>
		
							</li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				<div class="row-fluid tankContainer" ng-controller="ledsCtrl" style="position:relative;">
					<div class="span8 thumbnail" style="overflow:hidden; height:662px; background-color:aliceblue;">
							<svg width="1202px" height="650px" xmlns="http://www.w3.org/2000/svg">
							<text x="100" y="28" font-size="16" font-family="Microsoft YaHei UI" fill="#666666" stroke="#666666" stroke-width="0.25">LED控件用开/关来显示数字量0/1。</text>
							<g ng-switch="valled[0]">
								<circle ng-switch-when="1" cx="260" cy="140" r="25" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="0" cx="260" cy="140" r="25" fill="rgb(10,243,12)" stroke="#666666" stroke-width="2"/>
								<rect ng-switch-when="1" x="227" y="213" width="66" height="40" fill="rgb(165,12,14)" stroke="#666666" stroke-width="2"></rect>
								<rect ng-switch-when="0" x="227" y="213" width="66" height="40" fill="rgb(245,12,14)" stroke="#666666" stroke-width="2"></rect>
							</g>
							<g ng-switch="valled[1]">
								<image ng-switch-when="1" xlink:href="image/lamp1.png" x="215" y="370" width="77" height="103" />
								<image ng-switch-when="0" xlink:href="image/lamp0.png" x="215" y="370" width="77" height="103" />
							</g>
							<g ng-switch="valled[2]">
								<circle ng-switch-when="1" cx="460" cy="140" r="30" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="0" cx="460" cy="140" r="30" fill="rgb(10,243,12)" stroke="#666666" stroke-width="2"/>
								<rect ng-switch-when="1" x="422" y="210" width="76" height="46" fill="rgb(30,79,239)" stroke="#666666" stroke-width="2"></rect>
								<rect ng-switch-when="0" x="422" y="210" width="76" height="46" fill="rgb(30,212,239)" stroke="#666666" stroke-width="2"></rect>
								<text ng-switch-when="0" x="460" y="145" font-size="16" font-family="Microsoft YaHei UI" fill="rgb(239,158,30)" stroke="rgb(239,158,30)" stroke-width="0.5" text-anchor="middle">ON</text>
								<text ng-switch-when="1" x="460" y="145" font-size="16" font-family="Microsoft YaHei UI" fill="rgb(239,128,50)" stroke="rgb(239,128,50)" stroke-width="0.5" text-anchor="middle">OFF</text>
								<text ng-switch-when="0" x="460" y="238" font-size="16" font-family="Microsoft YaHei UI" fill="rgb(49,37,73)" stroke="rgb(49,37,73)" stroke-width="0.25" text-anchor="middle">ON</text>
								<text ng-switch-when="1" x="460" y="238" font-size="16" font-family="Microsoft YaHei UI" fill="rgb(49,57,33))" stroke="rgb(49,57,33)" stroke-width="0.25" text-anchor="middle">OFF</text>
							</g>
							<g ng-switch="valled[3]" transform="matrix(1,0,0,1,-10,330)">
								<path ng-switch-when="1" d="M460 56L512.3315 56L512.3315 76L490.3315 76A33 33 0 0 1 476.5 117.5788L489 139.2295L431 139.2295L443.5 117.5788A33 33 0 0 1 460 56Z" fill="rgb(245,0,0)" stroke="#333333" stroke-width="#333333" />
								<path ng-switch-when="0" d="M460 56L512.3315 56L512.3315 76L490.3315 76A33 33 0 0 1 476.5 117.5788L489 139.2295L431 139.2295L443.5 117.5788A33 33 0 0 1 460 56Z" fill="rgb(11,191,15)" stroke="#333333" stroke-width="#333333" />
							</g>
							<!-- <g ng-switch="valled[4]" transform="matrix(1,0,0,1,0,30)">
								<circle ng-switch-when="0" cx="660" cy="140" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="1" cx="660" cy="175" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="2" cx="660" cy="210" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="3" cx="660" cy="245" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="4" cx="660" cy="280" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="5" cx="660" cy="315" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="6" cx="660" cy="350" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-switch-when="7" cx="660" cy="385" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
							</g>
							<g ng-switch="valled[5]" transform="matrix(1,0,0,1,580,40)">
								<rect ng-switch-when="0" x="207" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-switch-when="1" x="247" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-switch-when="2" x="287" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-switch-when="3" x="327" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-switch-when="4" x="367" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-switch-when="5" x="407" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-switch-when="6" x="447" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-switch-when="7" x="487" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
							</g> -->
							<g transform="matrix(1,0,0,1,0,30)">
								<circle ng-if="valled4[0]" cx="660" cy="140" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-if="valled4[1]" cx="660" cy="175" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-if="valled4[2]" cx="660" cy="210" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-if="valled4[3]" cx="660" cy="245" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-if="valled4[4]" cx="660" cy="280" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-if="valled4[5]" cx="660" cy="315" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-if="valled4[6]" cx="660" cy="350" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
								<circle ng-if="valled4[7]" cx="660" cy="385" r="15" fill="rgb(0,153,12)" stroke="#666666" stroke-width="2"/>
							</g>
							<g transform="matrix(1,0,0,1,580,40)">
								<rect ng-if="valled5[0]" x="207" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-if="valled5[1]" x="247" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-if="valled5[2]" x="287" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-if="valled5[3]" x="327" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-if="valled5[4]" x="367" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-if="valled5[5]" x="407" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-if="valled5[6]" x="447" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
								<rect ng-if="valled5[7]" x="487" y="213" width="32" height="26" fill="rgb(247,217,45)" stroke="#666666" stroke-width="1"></rect>
							</g>
							<g ng-switch="valled[1]" transform="matrix(1,0,0,1,670,0)">
								<image ng-switch-when="1" xlink:href="image/lamp1.png" x="215" y="370" width="77" height="103" />
								<image ng-switch-when="0" xlink:href="image/lamp0.png" x="215" y="370" width="77" height="103" />
							</g>
						</svg>
					</div>

					<div id="idContainer" class="span4 thumbnail" style="position:relative; height:662px; overflow:scroll; background-color:aliceblue;">
						<svg width="560px" height="80px" xmlns="http://www.w3.org/2000/svg">
							<text x="15" y="28" font-size="16" font-family="Microsoft YaHei UI" fill="#666666" stroke="#666666" stroke-width="0.25">这里是编辑区/测试区。可以添加控件测试效果。</text>											
						</svg>
						<div id="svgArea" style="position:relative; top:0px; left:0px;">
							<div id="divDragBV" style="position:absolute;">
								<svg id="svgDragBV" width="170" height="230" style="cursor:move;" xmlns="http://www.w3.org/2000/svg">									
								</svg>
							</div>
							
						</div>
						<div style="position: absolute; width:560px; top:-5px; left:0px;">
							<label style="position:absolute; top:60px; left:20px; font-weight:bold; color:#666666;">控件</label>
							<select id="ctrlName" ng-model="ctrlName" ng-options="ctrl for ctrl in ctrls" style="position:absolute; top:55px; left:51px; color:#666666; height:30px; width:118px;" ></select>
							<button ng-click="createCtl()" class="btn" style="position:absolute; top:53px; left:170px; color:none; background-color:aliceblue;"><i class="icon-hand-left"></i></button>
							<label style="position:absolute; top:60px; left:226px; font-weight:bold; color:#666666;">属性</label>
							<select ng-model="attrName" ng-options="attr for attr in attrs" style="position:absolute; top:55px; left:258px; color:#666666; height:30px; width:100px;" ></select>
							<label style="position:absolute; top:60px; left:373px; font-weight:bold; color:#666666;">属性值</label>
							<input type="text" value="0" ng-model="attrVal" placeholder="输入属性值" style="position:absolute; top:55px; left:419px; color:#666666; height:20px; width:90px;" />
							<button ng-click="updateEdit()" class="btn" style="position:absolute; top:53px; left:524px; color:none; background-color:aliceblue;"><i class="icon-hand-left"></i></button>
						</div>
					</div>
					<div style="position:absolute; bottom:8px; right:23px;" >
						<p>绝对坐标：&nbsp&nbsp<span id="idShow">left:0;&nbsp top:0</span></p>
					</div>
				</div>
				</div>
	
		</div>	
		<!-- END PAGE CONTAINER-->
		
	</div>
	<!-- END PAGE -->    

			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
					
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			2017 &copy; TMSR 钍基熔盐堆核能系统.
			console.log("$scope.valled[0]: "+$scope.valled[0]);
		</div>
	</div>
	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!-- END CORE PLUGINS -->

	<script src="js/drag-tank.js"></script>


<script>
//以下是调用插件实现拖动
var drag = new Drag("divDragBV", {
    mxContainer: "svgArea",
    Handle: "svgDragBV",
    Limit: false,
    onStart: function() {
        // document.getElementById("idShow").innerHTML="开始拖放";
        document.getElementById("idShow").innerHTML = "left:" + this.Drag.offsetLeft + ";&nbsptop:" + this.Drag.offsetTop;
    },
    onMove: function() {
        document.getElementById("idShow").innerHTML = "left:" + this.Drag.offsetLeft + ";&nbsptop:" + this.Drag.offsetTop;
    },
    onStop: function() {
        // document.getElementById("idShow").innerHTML = "结束移动";
        document.getElementById("idShow").innerHTML = "left:" + this.Drag.offsetLeft + ";&nbsptop:" + this.Drag.offsetTop;  
    }
});

//缺少屏幕自适应代码

		//socket模块和epics变量模块定义
		var serverIP="10.10.33.102";
		var socket = io.connect(serverIP+':80');
		var pvs = {
			leds:[
				{ pvname: "may:led0" }, { pvname: "may:led1" }, { pvname: "may:led2" },
				{ pvname: "may:led3" }, { pvname: "may:led4" }, { pvname: "may:led5" }]
		}

		/* start - angularJS script */
		var app = angular.module('myApp', []);

		/* start - 自定义函数factory =>  修改指定id的svg元素的指定属性attr值val*/
		app.factory('SvgAttr', function(){
			var factory = {};
			factory.attr = function(id,attr,val){
				document.getElementById(id).setAttribute(attr,val);//rgb(246,136,46)
				return 0;
			};
			factory.textCont = function(id,text){
				document.getElementById(id).textContent=text;//rgb(246,136,46)
				return 0;
			};
			return factory;
		});
		/* end - 自定义函数factory =>  修改指定id的svg元素的指定属性attr值val*/

		/* start - 自定义函数factory =>  使用一些JS语法或函数*/
		app.factory('JsService', function(){
			var factory = {};
			factory.mod = function(x,y){
				return x%y;
			};
			factory.toString = function(str,num){
				return str.toString(num);
			};
			factory.indexOf = function(val,ind){//取二进制表示的第ind位（最右边为第0位）
				switch(ind) {
					case "0" :
						return (val & 1)>0 ? 1 : 0;
					case "1" :
						return (val & 2)>0 ? 1 : 0;
					case "2" :
						return (val & 4)>0 ? 1 : 0;
					case "3" :
						return (val & 8)>0 ? 1 : 0;
					case "4" :
						return (val & 16)>0 ? 1 : 0;
					case "5" :
						return (val & 32)>0 ? 1 : 0;
					case "6" :
						return (val & 64)>0 ? 1 : 0;
					case "7" :
						return (val & 128)>0 ? 1 : 0;
					default :
						break;
				}
			};
			return factory;
		});
		/* end - 自定义函数factory =>  使用一些JS语法或函数*/

		/* start - factory - AddCtrl      <Vertical Bar> */
		app.factory('AddCtrl', function(){
			var factory = {};
			/* start - creatSVG */
			//size修改整个控件.取值要求：大于0（小于0时反转变化）
			//backColor修改控件背景色；color修改控件填充色
			//背景色/填充色输入要求为表示颜色的字符串，有四种表示方式：1. 三位十六进制数#f00; 2. 六位十六进制数#ff0000; 3. rgb(255,0,0)，括号是英文; 4. 表示颜色的单词,red.
			//表示颜色的单词:参考<HTML颜色名> http://www.runoob.com/tags/html-colorname.html
			//hihi,lolo,hi,lo: 取值范围：0-1。其中0表示0%，1表示100%.
			factory.addBarCtrl = function( maxVal, minVal, size, backColor, color, hihi, lolo, hi, lo ){
				var divDragBV=document.getElementById("svgDragBV");
				var barCtrl=document.createElementNS("http://www.w3.org/2000/svg","g");
				barCtrl.setAttribute("id","barCtrl");
				barCtrl.setAttribute("transform","matrix("+size+",0,0,"+size+",0,0)");
				svgDragBV.appendChild(barCtrl);

				var barCtrlRect1=document.createElementNS("http://www.w3.org/2000/svg","rect");
				barCtrlRect1.setAttribute("id","barCtrlRect1");
				barCtrlRect1.setAttribute("x","65");
				barCtrlRect1.setAttribute("y","17");
				barCtrlRect1.setAttribute("width","51");
				barCtrlRect1.setAttribute("height","201");
				barCtrlRect1.setAttribute("fill",backColor);
				barCtrlRect1.setAttribute("stroke","black");
				barCtrlRect1.setAttribute("stroke-width","0.75");
				barCtrl.appendChild(barCtrlRect1);

				return "create a bar control successfully"
			};

			/* end - creatSVG */
			return factory;
		});
		/* end - factory - AddCtrl      <Vertical Bar> */

		/* start - 自定义服务Service =>  创建和修改svg元素*/
		app.service('CtrlService',function(AddCtrl,SvgAttr){
			this.addBarCtrl=function( maxVal, minVal, size, backColor, color, hihi, lolo, hi, lo ){
				return AddCtrl.addBarCtrl( maxVal, minVal, size, backColor, color, hihi, lolo, hi, lo );
			};
		});
		/* end - 自定义服务Service =>  创建和修改svg元素*/
		
		/* start - ledsCtrl */
		app.controller('ledsCtrl', function ($scope, SvgAttr, CtrlService, JsService) {
			$scope.calcTo100=100;
			$scope.calcTo100P=51.2;
			$scope.calcTo1000=1000;
			$scope.calcTo100LOG=1;
			$scope.calcTo1000LOG=1;
			$scope.attrName="size";
			$scope.attrVal="1";
			$scope.ctrlName="Thermometer";
			$scope.ctrls=["Vertical Bar", "Horizontal Bar", "Thermometer", "Tank"];
			$scope.attrs=["maxVal", "minVal", "size", "backColor", "color", "HIHI", "LOLO", "HI", "LO"];
			$scope.maxVal=100;
			$scope.minVal=0;
			$scope.size=1;
			$scope.backColor="rgb(250,250,230)";
			$scope.color="rgb(255,56,56)";
			$scope.hihi=90;
			$scope.lolo=10;
			$scope.hi=80;
			$scope.lo=30;

			//new scope
			$scope.valled=[0,0,1,0,1,1];
			$scope.valled4=[1,1,1,1,1,1,1,1];
			$scope.valled5=[1,1,1,1,1,1,1,1];

			async.map(pvs.leds, function (item, callback) {
				socket.on(item.pvname, function (data) {
					$scope.$applyAsync(function () {	//手动出发脏检查。必须有这步才能自动通知angular的module和controller，$scope.bang发生变化了。详见腾讯课堂教程《$scope》节
						switch (item.pvname) {
							case "may:led0":
								$scope.valled[0]=data;
								break;
							case "may:led1":
								$scope.valled[1]=data;
								break;
							case "may:led2":
								$scope.valled[2]=data;
								break;
							case "may:led3":
								$scope.valled[3]=data;
								break;
							case "may:led4":
								$scope.valled[4]=data;
								// $scope.valled[4]=JsService.toString(data,2);
								$scope.valled4[0]=JsService.indexOf(data,0);
								$scope.valled4[1]=JsService.indexOf(data,1);
								$scope.valled4[2]=JsService.indexOf(data,2);
								$scope.valled4[3]=JsService.indexOf(data,3);
								$scope.valled4[4]=JsService.indexOf(data,4);
								$scope.valled4[5]=JsService.indexOf(data,5);
								$scope.valled4[6]=JsService.indexOf(data,6);
								$scope.valled4[7]=JsService.indexOf(data,7);
								break;
							case "may:led5":
								$scope.valled[5]=data;
								// $scope.valled[5]=JsService.toString(data,2);
								$scope.valled5[0]=JsService.indexOf(data,0);
								$scope.valled5[1]=JsService.indexOf(data,1);
								$scope.valled5[2]=JsService.indexOf(data,2);
								$scope.valled5[3]=JsService.indexOf(data,3);
								$scope.valled5[4]=JsService.indexOf(data,4);
								$scope.valled5[5]=JsService.indexOf(data,5);
								$scope.valled5[6]=JsService.indexOf(data,6);
								$scope.valled5[7]=JsService.indexOf(data,7);
								break;
							default:
								break;
						}
						// $scope.valled[4]=JsService.toString($scope.valled[4],2);
						// $scope.valled[5]=JsService.toString($scope.valled[5],2);
						console.log("$scope.valled4[4]"+$scope.valled4[4]);
						

				})
				//***end of $scope.$apply***//
			});
			//***end of socket.on***//
		});
		//***end of async.map***//
		//需要绑定$scope但不需要脏检查的程序写在这里

		}, function (err, results) {
			callback(err, results);
	});
	/* end - ledsCtrl */

	/* end - angularJS script */
	
</script>
<script src="js/jquery.min.js"></script>

	<script>
		function load(){
			$(".manual").each(function () {
				var content = $(this).text();
				//  console.log(content);
				$(this).html(content);
				})
				// console.log("结束");	
			// window.status="Page is loaded"
		}
	</script>

	<script src="media/js/app.js"></script>      
	<script>
			function jump(){
				window.open("/comment/add",'','',true)
			}
	</script>
	
	<script>

		jQuery(document).ready(function() {  
			// console.log("开始");			
		   App.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>

<!-- END BODY -->

</html>