<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title><%= title %></title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="stylesheets/widget_tank.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	
	<script src="js/angular.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="bower_components/async/dist/async.js"></script> 
<!-- 
<script>
		var serverIP="210.72.8.90";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"hanlfHost:ai1"},{pvname:"hanlfHost:ai2"},{pvname:"hanlfHost:ai3"}],
         ao:[{pvname:"hanlfHost:ao1"}, {pvname:"hanlfHost:ao2"}, {pvname:"hanlfHost:ao3"}]
        }
		// console.log(pvs.ai);
       async.map(pvs.ai,function(item,callback){
          console.log(item.pvname);
          socket.on(item.pvname, function (data) {
            if(document.getElementById(item.pvname)){
             document.getElementById(item.pvname).innerHTML=data;
            }
               });
               
       }, function(err,results){
         callback(err,results); 
         console.log(results);
       });

</script> -->


</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed ng-scope page-sidebar-closed" ng-app="myApp" ng-controller="myCtrl" onload="load()">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-custom navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="/">

				<img src="media/image/logo.png" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN HORIZANTAL MENU -->

			

				<!-- END HORIZANTAL MENU -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					

				

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="media/image/avatar1_small.jpg" />

						<span class="username">user</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">
							<li><a href="/comment"><i class="icon-comment"></i>留言板</a></li>


						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid" >

		<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->

		<div class="page-sidebar nav-collapse collapse">

			<ul class="page-sidebar-menu hidden-phone hidden-tablet">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />            

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li  >

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title"><span>概述</span>

					<span class="selected "></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/system_structure">

							 	系统结构                    </a>

						</li>



						
						<li >
												
							<a href="/control_system">
												
								控制系统 </a>

								<!-- <ul class="sub-menu">

									<li >
			
										<a href="portlet_general.html">
			
											信号变量</a>
			
									</li>
								</ul> -->

												
						</li>

						
						<li >
						
							<a href="/epics_manual">
						
								安装配置 </a>
						
						</li>




					</ul>

				</li>

				<li class="active">

					<a href="javascript:;">

					<i class="icon-dashboard"></i> 

					<span class="title">监视控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="/widget_tank">

								Tank</a>

						</li>

						<li >

							<a href="portlet_draggable.html">

							   Process Bar </a>

						</li>
						
						<li class="active">
							<a href="widget_led">
												
						    	LED</a>
												
						</li>
												
						<li>
												
							<a href="widget_tank_thermometer_bar">
												
								Tank/Thermometer/Bar</a>
												
						</li>
						<li>
						
							<a href="portlet_draggable.html">
						
								Meter </a>
						
						</li>
						<li>
												
							<a href="portlet_draggable.html">
												
						 		Guage </a>
												
							</li>

					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">控制控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							TextInput                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							Vector Maps                   </a>

						</li>

					</ul>

				</li>

				<li >

					<a href="charts.html">

					<i class="icon-film"></i> 

					<span class="title">其它</span>

					</a>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">系统应用</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							智能监控                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							辐射监测                   </a>

						</li>
						<li >							
							<a href="system0">
							
							综合实验平台               </a>
							
						</li>
					</ul>

				</li>
				<li>
				
					<a href="/comment">
					
						<i class="icon-comment"></i>
					
						<span class="title">留言板</span>
						<span class="badge" style="background-color: #e02222;padding: 2px 6px 2px 6px;-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important; text-shadow: none !important" >new</span>

					</a>
				
				</li>
			</ul>

			<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->

			<ul class="page-sidebar-menu visible-phone visible-tablet">


				<li class="start active">

					<a href="/">

					概述

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

                         <ul class="sub-menu">
						<li >

							<a href="/system_structure">

							<i class="icon-cogs"></i> 

							<span class="title" >系统结构</span>

							<span class="arrow open"></span>

							</a>

						</li>
						<li>

							<a href="/control_system">
		
								<i class="icon-wrench"></i>
		
								<span class="title">控制系统</span>
		
								<span class="arrow open"></span>
		
							</a>
		
						</li>
						<li>
						
							<a href="/epics_manual">

								<i class="icon-wrench"></i> 
						
								<span class="title" >安装配置</span>

								<span class="arrow open"></span>
							
							</a>
						
						</li>
					</ul>
                    </li>
			</ul>

		</div>

		<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
		
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<div id="portlet-config" class="modal hide">
		
				<div class="modal-header">
		
					<button data-dismiss="modal" class="close" type="button"></button>
		
					<h3>portlet Settings</h3>
		
				</div>
		
				<div class="modal-body">
		
					<p>Here will be a configuration form</p>
		
				</div>
		
			</div>
		
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE CONTAINER-->
		
			<div class="container-fluid">
		
				<!-- BEGIN PAGE HEADER-->
		
				<div class="row-fluid">
		
					<div class="span12">
		
						<!-- BEGIN STYLE CUSTOMIZER -->
		
						<div class="color-panel hidden-phone">
		
							<div class="color-mode-icons icon-color"></div>
		
							<div class="color-mode-icons icon-color-close"></div>
		
							<div class="color-mode">
		
								<p>THEME COLOR</p>
		
								<ul class="inline">
		
									<li class="color-white color-light" data-style="light"></li>
		
								</ul>
		
								<label>
		
									<span>Layout</span>
		
									<select class="layout-option m-wrap small">
		
										<option value="fluid" selected>Fluid</option>
		
										<option value="boxed">Boxed</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Header</span>
		
									<select class="header-option m-wrap small">
		
										<option value="fixed" selected>Fixed</option>
		
										<option value="default">Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Sidebar</span>
		
									<select class="sidebar-option m-wrap small">
										<div class="span9" style="overflow:scroll;">
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Footer</span>
		
									<select class="footer-option m-wrap small">
		
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
							</div>
		
						</div>
		
						<!-- END BEGIN STYLE CUSTOMIZER -->
		
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		
						<h3 class="page-title">
		
							EPICS&nbsp控件
							<small>Examples</small>
		
						</h3>
		
						<ul class="breadcrumb">
		
							<li>
		
								<i class="icon-home"></i>
		
								<a href="/">Home</a>
		
								<i class="icon-angle-right"></i>
		
							</li>
		
							<li>
		
								<a href="/widget_tank">Tank/Thermometer/Bar</a>
		
							</li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>
				</div>
				<!-- END PAGE HEADER-->
				
				<div class="row-fluid tankContainer" ng-controller="tankBarsCtrl" style="position:relative;">
					<div class="span8 thumbnail" style="overflow:hidden; height:662px; background-color:aliceblue;">
							<svg width="1202px" height="650px" xmlns="http://www.w3.org/2000/svg">
							<text x="30" y="28" font-size="16" font-family="Microsoft YaHei UI" fill="#666666" stroke="#666666" stroke-width="0.25">LED控件用开/关来显示数字量0/1。</text>
							<circle id="led1" cx="300" cy="150" r="25" fill="rgb(0,123,12)" stroke="#9999999" stroke-width="1"/>
							
						</svg>
					</div>

					<div id="idContainer" class="span4 thumbnail" style="position:relative; height:662px; overflow:scroll; background-color:aliceblue;">
						<svg width="560px" height="80px" xmlns="http://www.w3.org/2000/svg">
							<text x="15" y="28" font-size="16" font-family="Microsoft YaHei UI" fill="#666666" stroke="#666666" stroke-width="0.25">这里是编辑区/测试区。可以添加控件测试效果。</text>											
						</svg>
						<div id="svgArea" style="position:relative; top:0px; left:0px;">
							
							
						</div>
						<div style="position: absolute; width:560px; top:-5px; left:0px;">
							<label style="position:absolute; top:60px; left:20px; font-weight:bold; color:#666666;">控件</label>
							<select id="ctrlName" ng-model="ctrlName" ng-options="ctrl for ctrl in ctrls" style="position:absolute; top:55px; left:51px; color:#666666; height:30px; width:118px;" ></select>
							<button ng-click="createCtl()" class="btn" style="position:absolute; top:53px; left:170px; color:none; background-color:aliceblue;"><i class="icon-hand-left"></i></button>
							<label style="position:absolute; top:60px; left:226px; font-weight:bold; color:#666666;">属性</label>
							<select ng-model="attrName" ng-options="attr for attr in attrs" style="position:absolute; top:55px; left:258px; color:#666666; height:30px; width:100px;" ></select>
							<label style="position:absolute; top:60px; left:373px; font-weight:bold; color:#666666;">属性值</label>
							<input type="text" value="0" ng-model="attrVal" placeholder="输入属性值" style="position:absolute; top:55px; left:419px; color:#666666; height:20px; width:90px;" />
							<button ng-click="updateEdit()" class="btn" style="position:absolute; top:53px; left:524px; color:none; background-color:aliceblue;"><i class="icon-hand-left"></i></button>
						</div>
					</div>
					<div style="position:absolute; bottom:8px; right:23px;" >
						<p>绝对坐标：&nbsp&nbsp<span id="idShow">left:0;&nbsp top:0</span></p>
					</div>
				</div>
				</div>
	
		</div>	
		<!-- END PAGE CONTAINER-->
		
	</div>
	<!-- END PAGE -->    

			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
					
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			2017 &copy; TMSR 钍基熔盐堆核能系统.
		</div>
	</div>
	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<!-- <script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> -->
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<!-- <script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>       -->
	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>
	<script src="media/js/excanvas.min.js"></script>
	<script src="media/js/respond.min.js"></script>  
	<![endif]-->   

	<!-- <script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script> -->
	<!-- <script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>   -->
	<!-- <script src="media/js/jquery.cookie.min.js" type="text/javascript"></script> -->
	<!-- <script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script> -->

	<!-- END CORE PLUGINS -->

	<script src="js/drag-tank.js"></script>


<script>
//缺少屏幕自适应代码

		//socket模块和epics变量模块定义
		var serverIP="10.10.33.102";
		var socket = io.connect(serverIP+':80');
		var pvs = {
			tankBars:[
				{ pvname: "may:calcTo100"}, { pvname: "may:calcTo100P"}, { pvname: "may:calcTo1000" }]
		}

		/* start - angularJS script */
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function ($scope, $http) {
			var myUrl = "http://47.100.41.42/epics_manual/manual?callback=JSON_CALLBACK";
			$http.jsonp(myUrl).success(function (response) {
				$scope.manual = response;
			});
		});

		/* start - 自定义服务Service => 计算以10为底x的对数:MathCalc.log(x) */
		app.service('MathCalc', function(){
			this.log = function(a){
				return Math.log(a)/Math.log(10);
			};
		});
		/* end - 自定义服务Service => 计算以10为底x的对数:MathCalc.log(x) */

		/* start - 自定义函数factory =>  修改指定id的svg元素的指定属性attr值val*/
		app.factory('SvgAttr', function(){
			var factory = {};
			factory.attr = function(id,attr,val){
				document.getElementById(id).setAttribute(attr,val);//rgb(246,136,46)
				return 0;
			};
			factory.textCont = function(id,text){
				document.getElementById(id).textContent=text;//rgb(246,136,46)
				return 0;
			};
			return factory;
		});
		/* end - 自定义函数factory =>  修改指定id的svg元素的指定属性attr值val*/

		/* start - factory - AddCtrl      <Vertical Bar> */
		app.factory('AddCtrl', function(){
			var factory = {};
			/* start - creatSVG */
			//size修改整个控件.取值要求：大于0（小于0时反转变化）
			//backColor修改控件背景色；color修改控件填充色
			//背景色/填充色输入要求为表示颜色的字符串，有四种表示方式：1. 三位十六进制数#f00; 2. 六位十六进制数#ff0000; 3. rgb(255,0,0)，括号是英文; 4. 表示颜色的单词,red.
			//表示颜色的单词:参考<HTML颜色名> http://www.runoob.com/tags/html-colorname.html
			//hihi,lolo,hi,lo: 取值范围：0-1。其中0表示0%，1表示100%.
			factory.addBarCtrl = function( maxVal, minVal, size, backColor, color, hihi, lolo, hi, lo ){
				var divDragBV=document.getElementById("svgDragBV");
				var barCtrl=document.createElementNS("http://www.w3.org/2000/svg","g");
				barCtrl.setAttribute("id","barCtrl");
				barCtrl.setAttribute("transform","matrix("+size+",0,0,"+size+",0,0)");
				svgDragBV.appendChild(barCtrl);

				var barCtrlRect1=document.createElementNS("http://www.w3.org/2000/svg","rect");
				barCtrlRect1.setAttribute("id","barCtrlRect1");
				barCtrlRect1.setAttribute("x","65");
				barCtrlRect1.setAttribute("y","17");
				barCtrlRect1.setAttribute("width","51");
				barCtrlRect1.setAttribute("height","201");
				barCtrlRect1.setAttribute("fill",backColor);
				barCtrlRect1.setAttribute("stroke","black");
				barCtrlRect1.setAttribute("stroke-width","0.75");
				barCtrl.appendChild(barCtrlRect1);

				return "create a bar control successfully"
			};

			factory.addBarHCtl = function(Xpos){//BarH-此处的控件本该动态创建并可修改的=====
				var svgDragBH=document.getElementById("svgDragBH");
				var BarHCtl=document.createElementNS("http://www.w3.org/2000/svg","g");
				BarHCtl.setAttribute("id","BarHCtl");
				svgDragBH.appendChild(BarHCtl);
				
				var BarHCtlRect1=document.createElementNS("http://www.w3.org/2000/svg","rect");
				BarHCtlRect1.setAttribute("id","BarHCtlRect1");
				BarHCtlRect1.setAttribute("x","9.5");
				BarHCtlRect1.setAttribute("y","9.5");
				BarHCtlRect1.setAttribute("width","401");
				BarHCtlRect1.setAttribute("height","26");
				BarHCtlRect1.setAttribute("fill","rgb(200,245,242)");
				BarHCtlRect1.setAttribute("stroke","black");
				BarHCtlRect1.setAttribute("stroke-width","0.75");
				BarHCtl.appendChild(BarHCtlRect1);

				return 0;
			};

			factory.addThermometerCtl = function(hei,temp){//BarH-此处的控件本该动态创建并可修改的=====
				var svgDragTh=document.getElementById("svgDragTh");
				var thermometerCtl=document.createElementNS("http://www.w3.org/2000/svg","g");
				thermometerCtl.setAttribute("id","thermometerCtl");
				svgDragTh.appendChild(thermometerCtl);
				
				var thermometerCircle1=document.createElementNS("http://www.w3.org/2000/svg","circle");
				thermometerCircle1.setAttribute("id","thermometerCircle1");
				thermometerCircle1.setAttribute("cx","43.5");
				thermometerCircle1.setAttribute("cy","209.4165");
				thermometerCircle1.setAttribute("r","21");
				thermometerCircle1.setAttribute("fill","rgb(255,30,32)");
				thermometerCircle1.setAttribute("stroke","black");
				thermometerCircle1.setAttribute("stroke-width","1");
				thermometerCtl.appendChild(thermometerCircle1);

				var thermometerCtlRect1=document.createElementNS("http://www.w3.org/2000/svg","rect");
				thermometerCtlRect1.setAttribute("id","thermometerCtlRect1");
				thermometerCtlRect1.setAttribute("x","35.5");
				thermometerCtlRect1.setAttribute("y","40");
				thermometerCtlRect1.setAttribute("width","16");
				thermometerCtlRect1.setAttribute("height","150");
				thermometerCtlRect1.setAttribute("rx","4");
				thermometerCtlRect1.setAttribute("ry","4");
				thermometerCtlRect1.setAttribute("fill","rgb(100,241,236)");
				thermometerCtlRect1.setAttribute("stroke","black");
				thermometerCtlRect1.setAttribute("stroke-width","1");
				thermometerCtl.appendChild(thermometerCtlRect1);

				var thermometerCtlRect2=document.createElementNS("http://www.w3.org/2000/svg","rect");
				thermometerCtlRect2.setAttribute("id","thermometerCtlRect2");
				thermometerCtlRect2.setAttribute("x","35.5");
				thermometerCtlRect2.setAttribute("y","187.5");
				thermometerCtlRect2.setAttribute("width","16");
				thermometerCtlRect2.setAttribute("height","2.5");
				thermometerCtlRect2.setAttribute("fill","rgb(84,230,226)");
				thermometerCtlRect2.setAttribute("stroke","black");
				thermometerCtlRect2.setAttribute("stroke-width","1");
				thermometerCtl.appendChild(thermometerCtlRect2);

				var thermometerCtlRect3=document.createElementNS("http://www.w3.org/2000/svg","rect");
				thermometerCtlRect3.setAttribute("id","thermometerCtlRect3");
				thermometerCtlRect3.setAttribute("x","36");
				thermometerCtlRect3.setAttribute("y","187");
				thermometerCtlRect3.setAttribute("width","15");
				thermometerCtlRect3.setAttribute("height","4");
				thermometerCtlRect3.setAttribute("fill","rgb(255,30,32)");
				thermometerCtlRect3.setAttribute("stroke","none");
				thermometerCtl.appendChild(thermometerCtlRect3);

				var thermometerCtlRect4=document.createElementNS("http://www.w3.org/2000/svg","rect");
				thermometerCtlRect4.setAttribute("id","thermometerCtlRect4");
				thermometerCtlRect4.setAttribute("transform","matrix(1,0,0,-1,0,190)")
				thermometerCtlRect4.setAttribute("x","36");
				thermometerCtlRect4.setAttribute("y","0");
				thermometerCtlRect4.setAttribute("width","15");
				thermometerCtlRect4.setAttribute("height",hei*1.4);//显示值的红色矩柱100=>140
				thermometerCtlRect4.setAttribute("fill","rgb(255,30,32)");
				thermometerCtlRect4.setAttribute("stroke","none");
				thermometerCtl.appendChild(thermometerCtlRect4);

				var thermometerCtlPath1=document.createElementNS("http://www.w3.org/2000/svg","path");
				thermometerCtlPath1.setAttribute("id","thermometerCtlPath1");
				thermometerCtlPath1.setAttribute("fill","none");
				thermometerCtlPath1.setAttribute("stroke","#333333");
				thermometerCtlPath1.setAttribute("stroke-width","0.75");
				thermometerCtlPath1.setAttribute("transform","matrix(1,0,0,-1,36,190)");
				thermometerCtlPath1.setAttribute("d","M0 1h-7 m7 69h-7 m7 70h-7 M0 14h-4 m4 14h-4 m4 14h-4 m4 14h-4 M0 84h-4 m4 14h-4 m4 14h-4 m4 14h-4");
				thermometerCtl.appendChild(thermometerCtlPath1);

				var thermometerCtlText1=document.createElementNS("http://www.w3.org/2000/svg","text");
				thermometerCtlText1.setAttribute("id","thermometerCtlText1");
				thermometerCtlText1.setAttribute("x","25");
				thermometerCtlText1.setAttribute("y","195");
				thermometerCtlText1.setAttribute("font-size","12");
				thermometerCtlText1.setAttribute("font-family","Microsoft YaHei UI");
				thermometerCtlText1.setAttribute("fill","#333333");
				thermometerCtlText1.setAttribute("stroke","#333333");
				thermometerCtlText1.setAttribute("stroke-width","0.25");
				thermometerCtlText1.setAttribute("text-anchor","end");
				thermometerCtlText1.textContent="0";
				thermometerCtl.appendChild(thermometerCtlText1);

				var thermometerCtlText2=document.createElementNS("http://www.w3.org/2000/svg","text");
				thermometerCtlText2.setAttribute("id","thermometerCtlText2");
				thermometerCtlText2.setAttribute("x","25");
				thermometerCtlText2.setAttribute("y","125");
				thermometerCtlText2.setAttribute("font-size","12");
				thermometerCtlText2.setAttribute("font-family","Microsoft YaHei UI");
				thermometerCtlText2.setAttribute("fill","#333333");
				thermometerCtlText2.setAttribute("stroke","#333333");
				thermometerCtlText2.setAttribute("stroke-width","0.25");
				thermometerCtlText2.setAttribute("text-anchor","end");
				thermometerCtlText2.textContent="50";
				thermometerCtl.appendChild(thermometerCtlText2);

				var thermometerCtlText3=document.createElementNS("http://www.w3.org/2000/svg","text");
				thermometerCtlText3.setAttribute("id","thermometerCtlText3");
				thermometerCtlText3.setAttribute("x","25");
				thermometerCtlText3.setAttribute("y","55");
				thermometerCtlText3.setAttribute("font-size","12");
				thermometerCtlText3.setAttribute("font-family","Microsoft YaHei UI");
				thermometerCtlText3.setAttribute("fill","#333333");
				thermometerCtlText3.setAttribute("stroke","#333333");
				thermometerCtlText3.setAttribute("stroke-width","0.25");
				thermometerCtlText3.setAttribute("text-anchor","end");
				thermometerCtlText3.textContent="100";
				thermometerCtl.appendChild(thermometerCtlText3);

				var thermometerCtlText4=document.createElementNS("http://www.w3.org/2000/svg","text");
				thermometerCtlText4.setAttribute("id","thermometerCtlText4");
				thermometerCtlText4.setAttribute("x","43.5");
				thermometerCtlText4.setAttribute("y","213");
				thermometerCtlText4.setAttribute("font-size","13");
				thermometerCtlText4.setAttribute("font-family","Microsoft YaHei UI");
				thermometerCtlText4.setAttribute("fill","#ffffff");
				thermometerCtlText4.setAttribute("stroke","#ffffff");
				thermometerCtlText4.setAttribute("stroke-width","0.25");
				thermometerCtlText4.setAttribute("text-anchor","middle");
				thermometerCtlText4.textContent=temp;
				thermometerCtl.appendChild(thermometerCtlText4);

				return 0;
			};
			/* end - creatSVG */
			return factory;
		});
		/* end - factory - AddCtrl      <Vertical Bar> */

		/* start - 自定义服务Service =>  创建和修改svg元素*/
		app.service('CtrlService',function(AddCtrl,SvgAttr){
			this.addBarCtrl=function( maxVal, minVal, size, backColor, color, hihi, lolo, hi, lo ){
				return AddCtrl.addBarCtrl( maxVal, minVal, size, backColor, color, hihi, lolo, hi, lo );
			};
			this.addBarHCtl=function(Xpos){
				return AddCtrl.addBarHCtl(Xpos);
			};
			this.addThermometerCtl=function(hei,temp){
				return AddCtrl.addThermometerCtl(hei,temp);
			};
			this.changeAttr=function(id,attr,val){
				return SvgAttr.attr(id,attr,val);
			};		
		});
		/* end - 自定义服务Service =>  创建和修改svg元素*/
		
		/* start - tankBarsCtrl */
		app.controller('tankBarsCtrl', function ($scope, MathCalc, SvgAttr, CtrlService) {
			$scope.calcTo100=100;
			$scope.calcTo100P=51.2;
			$scope.calcTo1000=1000;
			$scope.calcTo100LOG=1;
			$scope.calcTo1000LOG=1;
			$scope.log=MathCalc.log(100);
			$scope.attrName="size";
			$scope.attrVal="1";
			$scope.ctrlName="Thermometer";
			$scope.ctrls=["Vertical Bar", "Horizontal Bar", "Thermometer", "Tank"];
			$scope.attrs=["maxVal", "minVal", "size", "backColor", "color", "HIHI", "LOLO", "HI", "LO"];
			$scope.maxVal=100;
			$scope.minVal=0;
			$scope.size=1;
			$scope.backColor="rgb(250,250,230)";
			$scope.color="rgb(255,56,56)";
			$scope.hihi=90;
			$scope.lolo=10;
			$scope.hi=80;
			$scope.lo=30;

			//表示控件是否被创建的标志位
			$scope.bCtrlFlag=false;
			$scope.HbCtrlFlag=false;
			$scope.ThCtrlFlag=false;

			// CtrlService.addBarCtrl($scope.maxVal, $scope.minVal, $scope.size, $scope.backColor, $scope.color, $scope.hihi, $scope.lolo, $scope.hi, $scope.lo);
			async.map(pvs.tankBars, function (item, callback) {
				socket.on(item.pvname, function (data) {
					$scope.$applyAsync(function () {	//手动出发脏检查。必须有这步才能自动通知angular的module和controller，$scope.bang发生变化了。详见腾讯课堂教程《$scope》节
						switch (item.pvname) {
							case "may:calcTo100":
								$scope.calcTo100=data;
								break;
							case "may:calcTo100P":
								$scope.calcTo100P=data;
								$scope.calcTo100LOG = (data>0 ? MathCalc.log(data) : 0);
								break;
							case "may:calcTo1000":
								$scope.calcTo1000=data;
								$scope.calcTo1000LOG = (data>0 ? MathCalc.log(data) : 0);
								break;
							default:
								break;
						}
	
				})
				//***end of $scope.$apply***//

					$scope.createCtl=function(){
						switch($scope.ctrlName){//不同控件创建时变量以数组表示控件名，同一控件创建了多个时也是用数组表示rect、text等元素名。此工作待完成。=====
							case "Tank" :
								;
								break;
							case "Vertical Bar" :
								CtrlService.addBarCtrl($scope.maxVal, $scope.minVal, $scope.size, $scope.backColor, $scope.color, $scope.hihi, $scope.lolo, $scope.hi, $scope.lo);
								$scope.bCtrlFlag=true;
								break;
							case "Horizontal Bar" :
								CtrlService.addBarHCtl($scope.calcTo100);
								$scope.HbCtrlFlag=true;
								break;
							case "Thermometer" :
								CtrlService.addThermometerCtl($scope.calcTo100,$scope.calcTo100);
								$scope.ThCtrlFlag=true;
								break;
							default :
								break;
						}
					}

					$scope.updateEdit=function(){
						switch($scope.attrName){
							case "maxVal" :
								$scope.maxVal=$scope.attrVal;
								SvgAttr.textCont("barText2",(($scope.maxVal-$scope.minVal)/5.0).toFixed(1));
								SvgAttr.textCont("barText3",(($scope.maxVal-$scope.minVal)/5.0*2).toFixed(1));
								SvgAttr.textCont("barText4",(($scope.maxVal-$scope.minVal)/5.0*3).toFixed(1));
								SvgAttr.textCont("barText5",(($scope.maxVal-$scope.minVal)/5.0*4).toFixed(1));
								SvgAttr.textCont("barText6",($scope.maxVal-0).toFixed(1));   //不写上【减0（即-0）】会出错
								CtrlService.changeAttr("barCtrlPath2","d","M50.5 "+($scope.lolo-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10 M50.5 "+($scope.hihi-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10");
								CtrlService.changeAttr("barCtrlPath3","d","M50.5 "+($scope.lo-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10 M50.5 "+($scope.hi-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10");
								CtrlService.changeAttr("barText8","y",222-($scope.hihi-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								CtrlService.changeAttr("barText7","y",222-($scope.lolo-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								CtrlService.changeAttr("barText10","y",222-($scope.hi-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								CtrlService.changeAttr("barText9","y",222-($scope.lo-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								break;
							case "minVal" :
								$scope.minVal=$scope.attrVal;
								SvgAttr.textCont("barText2",(($scope.maxVal-$scope.minVal)/5.0).toFixed(1));
								SvgAttr.textCont("barText3",(($scope.maxVal-$scope.minVal)/5.0*2).toFixed(1));
								SvgAttr.textCont("barText4",(($scope.maxVal-$scope.minVal)/5.0*3).toFixed(1));
								SvgAttr.textCont("barText5",(($scope.maxVal-$scope.minVal)/5.0*4).toFixed(1));
								SvgAttr.textCont("barText1",($scope.minVal-0).toFixed(1));   //不写上【减0（即-0）】会出错
								CtrlService.changeAttr("barCtrlPath2","d","M50.5 "+($scope.lolo-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10 M50.5 "+($scope.hihi-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10");
								CtrlService.changeAttr("barCtrlPath3","d","M50.5 "+($scope.lo-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10 M50.5 "+($scope.hi-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10");
								CtrlService.changeAttr("barText8","y",222-($scope.hihi-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								CtrlService.changeAttr("barText7","y",222-($scope.lolo-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								CtrlService.changeAttr("barText10","y",222-($scope.hi-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								CtrlService.changeAttr("barText9","y",222-($scope.lo-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								break;
							case "size" :
								$scope.size=$scope.attrVal;
								SvgAttr.attr("svgDragBV","width",170*$scope.size);
								SvgAttr.attr("svgDragBV","height",230*$scope.size);
								CtrlService.changeAttr("barCtrl","transform","matrix("+$scope.size+",0,0,"+$scope.size+",0,0)");
								break;
							case "backColor" :
								$scope.backColor=$scope.attrVal;
								CtrlService.changeAttr("barCtrlRect1","fill",$scope.backColor);
								break;
							case "color" :
								$scope.color=$scope.attrVal;
								CtrlService.changeAttr("barCtrlRect2","fill",$scope.color);
								break;
							case "HIHI" :
								$scope.hihi=$scope.attrVal;
								CtrlService.changeAttr("barCtrlPath2","d","M50.5 "+($scope.lolo-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10 M50.5 "+($scope.hihi-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10");
								CtrlService.changeAttr("barText8","y",222-($scope.hihi-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								break;
							case "LOLO" :
								$scope.lolo=$scope.attrVal;
								CtrlService.changeAttr("barCtrlPath2","d","M50.5 "+($scope.lolo-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10 M50.5 "+($scope.hihi-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10");
								CtrlService.changeAttr("barText7","y",222-($scope.lolo-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								break;
							case "HI" :
								$scope.hi=$scope.attrVal;
								CtrlService.changeAttr("barCtrlPath3","d","M50.5 "+($scope.lo-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10 M50.5 "+($scope.hi-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10");
								CtrlService.changeAttr("barText10","y",222-($scope.hi-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								break;
							case "LO" :
								$scope.lo=$scope.attrVal;
								CtrlService.changeAttr("barCtrlPath3","d","M50.5 "+($scope.lo-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10 M50.5 "+($scope.hi-$scope.minVal)*200/($scope.maxVal-$scope.minVal)+"h10");
								CtrlService.changeAttr("barText9","y",222-($scope.lo-$scope.minVal)*200/($scope.maxVal-$scope.minVal));
								break;
							default :
								break;
						}
					}
				});
				//***end of socket.on***//
			});
			//***end of async.map***//
			//需要绑定$scope但不需要脏检查的程序写在这里

			}, function (err, results) {
				callback(err, results);
			});
		/* end - tankBarsCtrl */

	/* end - angularJS script */
	
</script>
<script src="js/jquery.min.js"></script>

	<script>
		function load(){
			$(".manual").each(function () {
				var content = $(this).text();
				//  console.log(content);
				$(this).html(content);
				})
				// console.log("结束");	
			// window.status="Page is loaded"
		}
	</script>

	<script src="media/js/app.js"></script>      
	<script>
			function jump(){
				window.open("/comment/add",'','',true)
			}
	</script>
	
	<script>

		jQuery(document).ready(function() {  
			// console.log("开始");			
		   App.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>

<!-- END BODY -->

</html>