.vertical {
  display: inline-block;
  width: 20%;
  height: 40px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  box-shadow: inset 0px 4px 6px #ccc;
}

div.barContainer {
  width: 100%;
  height: 100px;
}

.tanksvg {
   display: block;
   background-color: gray;
}

.screen18 {
  Font-size:95%;
}
.screen17 {
  Font-size:90%;
}
.screen16 {
  Font-size:85%;
}
.screen15 {
  Font-size:80%;
}
.screen14 {
  Font-size:75%;
}
.screen13 {
  Font-size:70%;
}
.screen12 {
  Font-size:65%;
}
.screen11 {
  Font-size:60%;
}
.screen10 {
  Font-size:55%;
}
.screen9 {
  Font-size:50%;
}
.screen8 {
  Font-size:45%;
}
.screen7 {
  Font-size:40%;
}




.water {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear 1;
}
.no-water {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.first-run {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear 1;
}
.running1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: run1 10s linear infinite;
}
.running2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: run1 5s linear infinite;
}
.runwater {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: run 15s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes run1 {
  0% {
    stroke-dasharray: 10, 10;
  }
  100% {
    stroke-dasharray: 10, 10;
    stroke-dashoffset: 10;
  }
}
@keyframes run2 {
  0% {
    stroke-dasharray: 15, 15;
  }
  100% {
    stroke-dasharray: 15, 15;
    stroke-dashoffset: 15;
  }
}